<!doctype html>
<html lang="en">
	{% extends 'base.html' %}
	
	{% block content %}
		<div class="trending_wrapper" style="text-align:center">
			<h2> Trending on Stamped </h3>
			
			<div id="trending_form" class="trending_form">
			    <form action="/trending/" method="post">
					{% csrf_token %}
					{{ form }}
					<input type ="submit"/>
				</form>
			</div>
			
			<div class="trending_content">
				<h2>Top {{quantity}} Stamped {% if scope == 'today' %}Today{% elif scope == 'total' %}Overall {% else %}in the Past {{scope}} (Since {{bgn}}) {% endif %}: </h2>
				{% for i in results %}
					{{forloop.counter}}) {{i.items.0.1}}  ({{i.items.1.1}} stamps) <br>
				{% endfor %} 
			</div>
		</div>
	{% endblock content %}
	