<!doctype html>
<html lang="en">
	{% extends 'index.html' %}
	
	{% block content %}
		<h3> Trending on Stamped </h3>
		
		Filter by vertical:
		<form action='/trending/' method = 'post'>
			<select name='vertical'>
				<option value="all">All Entities</option>
				<option value="restaurant,bar,cafe">Restaurants & Bars</option>
				<optin value="book">Books</option>
				<option value="track,album,artist">Music</option>
				<option value="tv,movie">Film & TV</option>
				<option value='app'>Software</option>
			</select>
			<input type='submit' />
		</form>
		
		{{query}}
		<div>
			<h4> Top 25 Stamped Today </h4>
			{% for i in today|slice:":25" %}
				{{forloop.counter}}) {{i.items.0.1}}  ({{i.items.1.1}} stamps) <br>
			{% endfor %} 
		</div>
		
		<div>
			<h4> Top 25 Stamped This Week </h4>
			{% for i in week|slice:":25" %}
				{{forloop.counter}}) {{i.items.0.1}}  ({{i.items.1.1}} stamps) <br>
			{% endfor %} 
		</div>
		
		<div>
			<h4> Top 25 Stamped This Month </h4>
			{% for i in month|slice:":25" %}
				{{forloop.counter}}) {{i.items.0.1}}  ({{i.items.1.1}} stamps) <br>
			{% endfor %} 
		</div>
	{% endblock content %}
	
</body>
</html>