<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>About Us | Stamped</title>
        
        <meta name="description" content="Put your stamp of approval on the world.">
        <meta name="author" content="Stamped, Inc.">
        <meta name="copyright" content="Stamped, Inc.">
        <meta name="robots" content="index,follow">
        <meta property="og:image" content="http://static.stamped.com/assets/img/stamped-logo.png" />
                
        <!-- Style -->
        <link rel="stylesheet" href="http://static.stamped.com/assets/css/normalize.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://static.stamped.com/assets/css/styles.css" type="text/css" media="screen" />
        <link rel="shortcut icon" href="http://static.stamped.com/assets/img/favicon.ico"/>
        <link rel="apple-touch-icon" href="http://static.stamped.com/assets/img/apple-touch-icon.png"/>

        <!-- Magic -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="http://static.stamped.com/assets/js/function.js"></script>
    </head>
    <body>
        <div id="page" class="flood">
            <div class="wrap">
            <div class="sheet">
                <div class="top-wave"></div>
                <a href="/" class="brand replaced">Stamped</a>
                <div class="inner">
                <div class="mission replaced">
                    <p>Our mission is to build a platform for friends to help each other discover the best parts of their world.</p>
                </div>
                <div class="team">
                    <h3 class="divide">The team</h3>
                    <ul>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-robby.png"/>
                            </div>
                            <div class="copy">
                                <div class="person robby">
                                    <span class="name">Robby Stein</span>
                                    <span class="title">CEO &amp; Co-Founder</span>
                                </div>
                                <div class="history">
                                    <p>Robby worked at Google for 4 years, on Gmail launches and most recently as Product Manager for the Ad Exchange. He built the first Stamped prototype in his tiny NYC apartment. He graduated from Northwestern and is not Bart's brother.</p>
                                    <a class="follow" href="http://twitter.com/rmstein">Follow @rmstein</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-kevin.png"/>
                            </div>
                            <div class="copy">
                                <div class="person kevin">
                                    <span class="name">Kevin Palms</span>
                                    <span class="title">Co-Founder, Technology</span>
                                </div>
                                <div class="history">
                                    <p>Kevin previously led development of risk analytics technology at a hedge fund in New York. He and Robby also built a social calendar app together at Northwestern; a movie about it, called "The Social Calendar," has not yet been made.</p>
                                    <a class="follow" href="http://twitter.com/kevinpalms">Follow @kevinpalms</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-bart.png"/>
                            </div>
                            <div class="copy">
                                <div class="person bart">
                                    <span class="name">Bart Stein</span>
                                    <span class="title">Co-Founder, Marketing &amp; Partnerships</span>
                                </div>
                                <div class="history">
                                    <p>Bart previously worked at Google Creative Lab, where he contributed to Google's first Super Bowl campaign. He also worked for David Pogue, the NY Times tech columnist. He graduated from Brown and is not Robby's brother.</p>
                                    <a class="follow" href="http://twitter.com/bartjstein">Follow @bartjstein</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-ed.png"/>
                            </div>
                            <div class="copy">
                                <div class="person ed">
                                    <span class="name">Ed Kim</span>
                                    <span class="title">Lead Product Designer</span>
                                </div>
                                <div class="history">
                                    <p>Ed worked most recently at Google as a designer. He has a decade of experience in UX and interactive design, including stints at Apple and R/GA. He graduated from the University of Pennsylvania and did not want us to plug his <a href="http://weartoday.tumblr.com">blog</a>.</p>
                                    <a class="follow" href="http://twitter.com/edmuki">Follow @edmuki</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-travis.png"/>
                            </div>
                            <div class="copy">
                                <div class="person travis">
                                    <span class="name">Travis Fischer</span>
                                    <span class="title">Lead Software Engineer</span>
                                </div>
                                <div class="history">
                                    <p>Travis previously worked at Microsoft on a next-generation OS incubation team. He also worked for Pixar on the film <span class="italics">Up</span>. He graduated from Brown with a B.S. in Computer Science and Math, and rarely eats anything other than Subway.</p>
                                    <a class="follow" href="http://twitter.com/fisch0920">Follow @fisch0920</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-landon.jpg"/>
                            </div>
                            <div class="copy">
                                <div class="person landon" style="background: url(http://static.stamped.com/assets/img/stamp-landon.png) left top no-repeat">
                                    <span class="name">Landon Judkins</span>
                                    <span class="title">Software Engineer, Mobile Lead</span>
                                </div>
                                <div class="history">
                                    <p>Landon previously built software for a large European manufacturing company. He also designs programming languages in his spare time. He graduated from Brown with an A.B. in Computer Science and is the best disc golf player on the Stamped team.</p>
                                    <a class="follow" href="http://twitter.com/landonjudkins">Follow @landonjudkins</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-anthony.png"/>
                            </div>
                            <div class="copy">
                                <div class="person anthony" style="background: url(http://static.stamped.com/assets/img/stamp-anthony.png) left top no-repeat">
                                    <span class="name">Anthony Cafaro</span>
                                    <span class="title">Product Designer</span>
                                </div>
                                <div class="history">
                                    <p>Anthony was previously at Google Creative labs as a designer. He is the coolest person at Stamped (sorry Ed). He graduated from the School of Visual Arts.</p>
                                    <a class="follow" href="http://twitter.com/anthonycafaro">Follow @anthonycafaro</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-mike.jpg"/>
                            </div>
                            <div class="copy">
                                <div class="person mike" style="background: url(http://static.stamped.com/assets/img/stamp-mike.png) left top no-repeat">
                                    <span class="name">Mike Lowin</span>
                                    <span class="title">Software Engineer</span>
                                </div>
                                <div class="history">
                                    <p>Mike previously worked with Kevin at a hedge fund building analytics software, and apparently liked him enough to want to join Stamped (we were surprised too). He graduated from Vassar College with a B.A. in Computer Science.</p>
                                    <a class="follow" href="http://twitter.com/michaellowin">Follow @michaellowin</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-liz.jpg"/>
                            </div>
                            <div class="copy">
                                <div class="person liz" style="background: url(http://static.stamped.com/assets/img/stamp-liz.png) left top no-repeat">
                                    <span class="name">Liz Walton</span>
                                    <span class="title">Marketing Manager</span>
                                </div>
                                <div class="history">
                                    <p>Liz was previously at Weber Shandwick where she managed social media for large consumer brands. She is the best female employee at Stamped, and graduated from Northwestern University.</p>
                                    <a class="follow" href="http://twitter.com/lizwalton">Follow @lizwalton</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <div class="advisor">
                        <h3 class="divide">Advisors</h3>
                        <span class="name">Mario Batali</span>
                        <div class="history">
                            <p>With nineteen restaurants, nine cookbooks and a host of television shows including ABC's The Chew, Mario Batali is one of the most recognized and respected chefs working in America today. In 2008, Mario started the Mario Batali Foundation with the mission of feeding, protecting, educating, and empowering children. To learn more about Mario's mission, visit <a href="http://www.mariobatalifoundation.org">www.mariobatalifoundation.org</a>.</p><a class="follow" href="http://twitter.com/mariobatali">Follow @mariobatali</a>
                        </div>
                        <br /><br />
                        <span class="name">Kevin Systrom</span>
                        <div class="history">
                            <p>Kevin Systrom is the CEO and co-founder of <a href="http://instagram.com/">Instagram</a>, the popular photo-sharing service with over 12 million users. Kevin was recently named to Fortune's 40-under-40 list, and got his first taste of the startup world as an intern at Odeo, which later became Twitter. He also spent two years at Google, working on Gmail and Google Reader. Kevin graduated from Stanford University in 2006 with a BS in Management Science & Engineering.</p>
                            <a class="follow" href="http://twitter.com/kevin">Follow @kevin</a><br /><br /><br />
                        </div>
                        <span class='note'><strong>Note:</strong> Advisors own shares in Stamped, Inc.</span>
                    </div>
                
                </div> <!-- /team -->
                <div class="investor-contact">
                    <h3 class="divide">Our investors</h3>
                    <a href="http://baincapitalventures.com" class="bain-ventures replaced">Bain Capital Ventures</a>
                    <a href="http://googleventures.com" class="google-ventures replaced">Google Ventures</a>
                    
                    <h3 class="divide">Contact us</h3>
                    <span class="name line">Stamped, Inc</span>
                    <span class="street line">215 Park Ave. South #1802</span>
                    <span class="city-state line">New York, NY 10003</span>
                    <p><a href="mailto:press@stamped.com">press@stamped.com</a></p>
                    <p><a class="follow-us replaced" href="http://twitter.com/stampedapp">Follow us on twitter</a></p>
                </div>
                </div>
                <div class="bottom-wave"></div>
            </div> <!-- /sheet -->
            <div class="more">
                <a href="/about">About Us</a>
                <a href="/faq">FAQ</a>
                <a href="http://help.stamped.com">Help</a>
                <a href="http://blog.stamped.com">Blog</a>
                <a href="/terms-of-service">Terms of Service</a>
                <a href="/privacy">Privacy Policy</a>
                <span class="copyright">
                    <a href="http://nytm.org/made/" class="made">Made in NY</a> 
                    &copy;2012 Stamped, Inc.
                </span>
            </div> 
            </div>
        </div> <!-- /page -->
        <script type="text/javascript">
            stamped.init();
        </script>
    </body>
    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-24470954-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</html>
