<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>Frequently Asked Questions | Stamped</title>
        
        <meta name="description" content="Stamped. Be the first to know."> 
        <meta name="author" content="Stamped, Inc."> 
        <meta name="copyright" content="Stamped, Inc."> 
        <meta name="robots" content="index,follow"> 
        <meta property="og:image" content="http://static.stamped.com/assets/img/stamped-logo.png" />
                
        <!-- Style -->
        <link rel="stylesheet" href="http://static.stamped.com/assets/css/normalize.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://static.stamped.com/assets/css/styles.css" type="text/css" media="screen" />
        <link rel="shortcut icon" href="http://static.stamped.com/assets/img/favicon.ico"/>
        <link rel="apple-touch-icon" href="http://static.stamped.com/assets/img/apple-touch-icon.png"/>

        <!-- Magic -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="http://static.stamped.com/assets/js/function.js"></script>
    </head>
    <body>
        <div id="page" class="flood">
            <div class="wrap">
            <div class="sheet">
                <div class="top-wave"></div>
                <a href="." class="brand replaced">Stamped</a>
                <div class="inner" id="faq-page">
                    <h1 class="replaced faq-title">Frequently Asked Questions</h1>
                    <ul class="faq-map">
                        <li>
                            <a href="#question-1">What is Stamped?</a>
                        </li>
                        <li>
                            <a href="#question-2">Is my Stamped profile public?</a>
                        </li>
                        <li>
                            <a href="#question-3">Can I make my Stamped profile private?</a>
                        </li>
                        <li>
                            <a href="#question-4">How do I use Stamped?</a>
                        </li>
                        <li>
                            <a href="#question-5">What exactly is a "stamp"?</a>
                        </li>
                        <li>
                            <a href="#question-6">How do I get more stamps?</a>
                        </li>
                        <li>
                            <a href="#question-7">What happens if I run out of stamps?</a>
                        </li>
                        <li>
                            <a href="#question-8">What kinds of things should I stamp? Can I stamp anything?</a>
                        </li>
                        <li>
                            <a href="#question-9">None of my friends are on Stamped. Can I still use it?</a>
                        </li>
                        <li>
                            <a href="#question-10">How is this different from Yelp?</a>
                        </li>
                        <li>
                            <a href="#question-11">How is stamping different than liking something on Facebook?</a>
                        </li>
                        <li>
                            <a href="#question-12">How much does Stamped cost to download?</a>
                        </li>
                        <li>
                            <a href="#question-13">Can brands create accounts? Who do I contact for special partnerships?</a>
                        </li>
                        <li>
                            <a href="#question-14">Is Stamped available for Android?</a>
                        </li>
                        <li>
                            <a href="#question-15">Can I delete a stamp?</a>
                        </li>
                        <li>
                            <a href="#question-16">Why do you have an FAQ? Does anyone ever read these things ever?</a>
                        </li>
                    </ul>
                    
                  
                    <div id="question-1" class="question">  
                    <h2>What is Stamped?</h2>
                    <p>Stamped is a new platform for friends to share only what they like best -- restaurants, books, movies, music and more. Everyone gets a limited number of stamps to start, and can earn more if their friends like what they recommend. The result is a new source of quality information that is curated by trusted friends as opposed to large anonymous crowds.</p>
                    </div>
                    
                    <div id="question-2" class="question">
                    <h2>Is my Stamped profile public?</h2>
                    <p>All profiles on Stamped are public by default. This means that anyone who is a member of Stamped can find and view your stamps.</p>
                    </div>
                    
                    <div id="question-3" class="question"> 
                    <h2>Can I make my Stamped profile private?</h2>
                    <p>Not at the moment, but we are actively working on giving people the ability to have a private profile. We hope to push an update in the near future with that capability.</p>
                    </div>
                    
                    <div id="question-4" class="question"> 
                    <h2>How do I use Stamped?</h2>
                    <p>You can currently only use Stamped on an iPhone or iPod Touch.  We're actively working on expanding to other platforms.</p>
                    </div>
                    
                    <div id="question-5" class="question"> 
                    <h2>What exactly is a "stamp"?</h2>
                    <p>A stamp is a five-star recommendation. It represents something that literally deserves your stamp of approval. Because stamps are intended to be for high quality things, you only have a limited number (100) to give out at first. You can earn more if your friends like what you recommend.</p>
                    </div>
                    
                    <div id="question-6" class="question"> 
                    <h2>How do I get more stamps?</h2>
                    <p>The primary way to get more stamps is through something called <strong>credit</strong>. Credit is a way of thanking someone for introducing you to the thing you're stamping. If your friends give you credit on a stamp, you get more stamps.</p>
                    <p>Additionally, if three of your friends "like" anything you stamp, you'll get more stamps.</p>
                    </div>
                    
                    <div id="question-7" class="question"> 
                    <h2>What happens if I run out of stamps?</h2>
                    <p>Hopefully your friends will give you more stamps via credit or likes before you end up stamping 100 things. If you do run out though, you can always delete some of your older stamps in order to stamp something new.</p>
                    </div>
                    
                    <div id="question-8" class="question"> 
                    <h2>What kinds of things should I stamp? Can I stamp anything?</h2>
                    <p>Stamped has made it easy to stamp restaurants, bars, books, movies, and music simply by searching for them. That being said, if you want to tell your friends about something great and it's not in the categories above, go ahead and stamp it!  Stamped is for the best stuff, and that's ultimately defined by you.</p>
                    </div>
                    
                    <div id="question-9" class="question"> 
                    <h2>None of my friends are on Stamped. Can I still use it?</h2>
                    <p>While Stamped is great with your friends, you can also follow the experts you trust to get great recommendations. Check out suggested users like Peter Travers (Rolling Stone film critic) if you're waiting for your friends.</p>
                    </div>
                    
                    <div id="question-10" class="question"> 
                    <h2>How is this different from Yelp?</h2>
                    <p>Yelp is optimized for the average rating of a large, anonymous crowd. Stamped is designed to bring you only the best things, from only people you know and trust.</p>
                    </div>
                    
                    <div id="question-11" class="question"> 
                    <h2>How is stamping different than liking something on Facebook?</h2>
                    <p>Stamping is very different than using the Facebook "like" button. Facebook "likes" are designed for quick feedback around web content, while a stamp is designed for a meaningful recommendation of a real-world experience, like a restaurant or movie. Additionally, Stamped is optimized for quality over quantity, with everybody only getting 100 stamps to start.</p>
                    </div>
                    
                    <div id="question-12" class="question"> 
                    <h2>How much does Stamped cost to download?</h2>
                    <p>Nothing, it's free.</p>
                    </div>
                    
                    <div id="question-13" class="question"> 
                    <h2>Can brands create accounts? Who do I contact for special partnerships?</h2>
                    <p>Brands can create accounts just like any other user at the moment. If you're interested in working with us in a custom way, feel free to reach out at <a href="mailto:partners@stamped.com">partners@stamped.com</a>.</p>
                    </div>
                    
                    <div id="question-14" class="question"> 
                    <h2>Is Stamped available for Android?</h2>
                    <p>Not yet, but we hope to have an Android version of Stamped soon.</p>
                    </div>
                     
                    <div id="question-15" class="question"> 
                    <h2>Can I delete a stamp?</h2>
                    <p>Yes, you can delete any stamp. Click <a href="http://help.stamped.com/customer/portal/articles/233505-how-do-i-delete-a-stamp-">here</a> for directions on how to do so.</p>
                    </div>
                    
                    <div id="question-16" class="question"> 
                    <h2>Why do you have an FAQ?  Does anyone ever read these things ever?</h2>
                    <p>Probably not.  But it seemed like a thing we should do, so we did it.</p>
                    </div>


                </div> <!-- /inner -->
                <div class="bottom-wave"></div>
            </div> <!-- /sheet -->    
            <div class="more">
                <a href="/about">About Us</a>
                <a href="/faq">FAQ</a>
                <a href="http://help.stamped.com">Help</a>
                <a href="http://blog.stamped.com">Blog</a>
                <a href="/terms-of-service">Terms of Service</a>
                <a href="/privacy">Privacy Policy</a>
                <span class="copyright">&copy;2012 Stamped, Inc.</span>
            </div> 
            </div>
        </div> <!-- /page -->
        <script type="text/javascript">
            stamped.init();
        </script>
    </body>
    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-24470954-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</html>