<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>Download | Stamped</title>
        
        <meta name="description" content="Stamped. Put your stamp of approval on the world."> 
        <meta name="author" content="Stamped, Inc."> 
        <meta name="copyright" content="Stamped, Inc."> 
        <meta name="robots" content="index,follow"> 
        <meta name="viewport" content="width=640">
        
        <!-- Style -->
        <link rel="stylesheet" href="http://static.stamped.com/assets/css/normalize.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://static.stamped.com/assets/css/styles.css" type="text/css" media="screen" />
        <link rel="shortcut icon" href="http://static.stamped.com/assets/img/favicon.ico"/>
        <link rel="apple-touch-icon" href="http://static.stamped.com/assets/img/apple-touch-icon.png"/>
        
        <style>
        .wrap { width:620px; background:none; }
        #home.public .card { width: 620px; }

        .spacing {margin:174px auto 14px;}
        
        .more {text-align:center;}
        </style>
        <script type="text/javascript">
            function redirect() {
                window.location = "http://itunes.apple.com/us/app/stamped/id467924760?ls=1&mt=8"
            }
        </script>
    </head>
    <body onload="redirect()">
        <div id="home" class="wrap public flood">
                <a href="." class="brand replaced">Stamped</a>
                <div class="card">
                    <div class="top-wave"></div>
                    <div class="inner">
                        
                        <p class="intro spacing">Redirecting you to iTunes...</p>
                        
                    </div>
                    <div class="bottom-wave"></div>
                </div>
                <div class="more">
                    &copy;2012 Stamped, Inc.
                </div> 
            
        </div> <!-- /home -->
        <script type="text/javascript">
            stamped.init();
        </script>
    </body>
</html>
