
* {
  margin: 0;
  padding: 0;
}

body {
  background: #EFEFEF url('img/bg.png') top left repeat;
}

#main-container {
  background: url('img/ribbon.png') repeat-x;
  height: 310px;
  margin-top: 200px;
  display: none;
}

#logo {
  margin: 45px 0 0 75px;
  float: left;
}

form {
  display: block;
  float: left;
  margin: 117px 0 0 44px;
}

label {
  display: block;
  font-family: "Droid Serif", serif;
  color: #4D4D4D;
  padding: 0 0 4px 2px;
}

#entry_0_wrapper {
  display: block;
  background: url('img/input.png') no-repeat;
  width: 300px;
  height: 46px;
  float: left;
}

#entry_0_wrapper.active {
  background-position: 0px -46px;
}

#entry_0 {
  border: none;
  background: transparent;
  color: #4D4D4D;
  font-family: "Droid Serif", serif;
  width: 268px;
  height: 26px;
  padding: 10px 16px;
  font-size: 13px;
  outline: none;
}

#submit {
  background: url('img/btn.png') top left no-repeat;
  width: 66px;
  height: 46px;
  border: none;
  float: left;
  margin: 0 0 0 4px;
}

#submit.active {
  background-position: 0px -46px;
}

#submit.active.pressed {
  background-position: 0px -92px;
}

#thanks {
  display: block;
  float: left;
  margin: 144px 0 0 46px;
  font-family: "Droid Serif", serif;
  display: none;
}