[submodule "clients/ios/RestKit"]
	path = clients/ios/RestKit
	url = git@github.com:Stamped/RestKit.git
[submodule "clients/ios/Twitter-OAuth-iPhone"]
	path = clients/ios/Twitter-OAuth-iPhone
	url = git://github.com/bengottlieb/Twitter-OAuth-iPhone.git
[submodule "clients/ios/Facebook-SDK"]
	path = clients/ios/Facebook-SDK
	url = git://github.com/facebook/facebook-ios-sdk.git
