/* Header */

.header_wrapper {
	text_align: center;
}

.header {
	margin: auto;
	width:auto;
	height: 150px;
	display:block;
	background: #1212ee;
	color: #ffffff;
	text-align:center;
}

.header ul li {
	padding: 5px 5px;
	text-transform: uppercase;
	list-style: none;
	font-size: 14px;
	display: inline;
}

.header a:link { color: #ffffff; text-decoration: none; }
.header a:visited { color: #ffffff; text-decoration: none; }
.header a:hover  { color: #ffffff; text-decoration: underline; }
.header a:active { color: #ffffff; text-decoration: underline; }

/* Base */
.contentWrapper {
	width:1500px;
	margin:0 auto;
	text-align: center;
}

/* Index */
.index_wrapper {
	position: relative;
	text-align: center;
}

.index_content {
	display: inline-block;
	width: auto;
	position: relative;
	margin-left: 60px;
	margin-right: 60px;
	
}

.indexGraph {
	display: inline-block;
	width: 400px;
	position: relative;
	margin-left: 00px;
	margin-right: 0px;
}

.indexTotals{
	margin:0 auto;
	text-align:center;
}

.indexLegend{
	margin: 0px auto;
}

/*Enrichment page */
.segmentationForm {
	text-align: center;
}

.entityContent {
	text-align: center;
	margin-top:25px;
}

/* Latency */

.latencyTable {
	margin: 0 auto;
	text-align:left;
	border-spacing: 10px 1px;
}

.blackWhiteList {
	position:relative;
	display: inline-block;
}

/*Segmentation Page */
.areaWrapper {
	margin: 0 auto;
}

.areaGraph {
	height: 400px;
	width: 1200px;
	margin: 0 auto;
}

.monthlyPie {
	width: 600px;
	display: inline-block;
}

.december2011 {
	width: 600px;
	display: inline-block;
}

/*Trending Page */
.trending_form{
	display: inline-block;
	margin-top: 20px;
}



/*Custom Page */

.custom_form {
	margin: 0 auto;
	width: 900px;
}

.custom_graph {
	display: block;
	margin: 0 auto;
	height: 700px;
	width: 750px;
}



.sortable thead td {
    font-weight: bold;
}

.sortable td {
    padding: 2px 6px;
    margin: 2px 0;
}

.sortable td + td {
    text-align: right;
}

.sortable tbody tr:nth-child(odd)    { background-color:#eee; }
