<!doctype html>
<html lang="en">

	<head>
	    {% block head %}   
	        <meta charset="utf-8">
	        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	        
	        <title>Stamped Analytics</title>
	        
	        <meta name="description"        content="A page for monitoring key analytics for the Stamped mobile app">
	        
	        <meta name="author"             content="Stamped, Inc.">
	        <meta name="copyright"          content="Stamped, Inc.">
	        
	        <link rel="stylesheet"          href="/assets/css/styles.css">
	        
	    {% endblock head %}
	</head>
	
	<body>
		{% block header %}
		<div class="header_wrapper">	
			<div class = "header">
				<h1> Stamped Analytics Dashboard </h1>
				
				<h2> All stats through {{hour}}:{% if minute < 10 %}0{{minute}}{% else %}{{minute}}{% endif %} EST</h4>
				
				<div>
					<ul>
						<li><a href='/dashboard/'>Daily Overview</a></li>
						<li><a href='/enrichment/'>Enrichment Stats</a></li>
						<li><a href='/latency/'>API Latency</a></li>
						<li><a href='/segmentation/'>User Segmentation</a></li>
						<li><a href='/trending/'>Trending</a></li>
						<li><a href='/custom/'>Custom</a></li>
					</ul>
				</div>
			</div>
		</div>		
		{% endblock header %}
		
		{% block content %}
		{% endblock content %}
	</body>
</html>