<!doctype html>
<html lang="en">
	{% extends 'base.html' %}

	
	{% block content %}
	
	<div class="contentWrapper">
		
		<div class="segmentationForm">
			<h2>Entity Enrichment Report by Type</h2>
			<form action='/enrichment/' method='get'>
				{{form}}
				<input type='submit' />
			</form>
		</div>
		
		<div class="entityContent">
			{% if attempted != None %}
				Enrichment Attempts: {{attempted}} <br>
				Unattempted: {{unattempted}} <br>
				Percentage Attempted: {{ percentage }}%<br><br>
				
				{% for item in breakdown %}
					{% for stat in item %}
						{{stat}}<br>
					{% endfor %}<br>
				{% endfor %}
			{% endif %}
			
		</div>
	</div>
			
	{% endblock content %}
