<!doctype html>
<html lang="en">
	{% extends 'base.html' %}

	
	{% block content %}

		<div>	
			{{media_items}} <br>
			<br>
        	{% for line in songs %}
        		{{line}} <br>
        	{% endfor %}
        	<br>
         	{% for line in movies %}
         		{{line}} <br>
         	{% endfor %}
         	<br>
			{% for line in books %}
				{{line}} <br>
			{% endfor %}
			<br><br>
			
			{{media_colls}} <br>
			<br>
			{% for line in shows %}
				{{line}} <br>
			{% endfor %}
			<br>
			{% for line in albums %}
				{{line}} <br>
			{% endfor %}
			<br>
			{% for line in places %}
				{{line}} <br>
			{% endfor %}
			<br>
			{{percentSingle}} <br> 
			<br>
			{% for line in artists %}
				{{line}} <br>
			{% endfor %}
			<br>
			{% for line in apps%}
				{{line}} <br>
			{% endfor %}
	{% endblock content %}
