<!doctype html>
<html lang="en">
	{% extends 'base.html' %}
    {% block head %}

		{{ block.super }}
		
		<meta http-equiv="refresh" content="30" >
		
		<script src="/assets/js/raphael.js"></script>
		<script src="/assets/js/g.raphael.js"></script>
		<script src="/assets/js/g.line.js"></script>

	{% endblock head %}
		
	{% block content %}
		<div class="contentWrapper">
			<div class='index_wrapper'>
				<div class='index_content'>
					<h2>New Stamps</h2>
					<table>
						<tr>
							<td> Today: {{todayStamps}}</td>
						</tr><tr>
							<td> Yesterday: {{yestStamps}}</td>
							<td> {%if deltaStampsDay == 'N/A'%} N/A {% else %} {{deltaStampsDay}}% {%endif%} </td>
						</tr><tr>
							<td> Weekly Avg: {{weekStamps}}</td>
							<td> {%if deltaStampsWeek == 'N/A'%} N/A {% else %} {{deltaStampsWeek}}% {%endif%} </td>
						</tr>
					</table>
				</div>
				<div class='index_content'>
					<h2>Accounts Created</h2>
					<table>
						<tr>
							<td> Today: {{todayAccts}}</td>
						</tr><tr>
							<td> Yesterday: {{yestAccts}}</td>
							<td> {%if deltaAcctsDay == '0.00'%} -- {% else %} {{deltaAcctsDay}}% {%endif%} </td>
						</tr><tr>
							<td> Weekly Avg: {{weekAccts}}</td>
							<td> {%if deltaAcctsWeek == '0.00'%} -- {% else %} {{deltaAcctsWeek}}% {%endif%} </td>
						</tr>
					</table>
				</div>
				<div class='index_content'>
					<h2>Active Users</h2>
					<table>
						<tr>
							<td> Today: {{todayUsers}}</td>
						</tr><tr>
							<td> Yesterday: {{yestUsers}}</td>
							<td> {%if deltaUsersDay == '0.00'%} -- {% else %} {{deltaUsersDay}}% {%endif%} </td>
						</tr><tr>
							<td> Weekly Avg: {{weekUsers}}</td>
							<td> {%if deltaUsersWeek == '0.00'%} -- {% else %} {{deltaUsersWeek}}% {%endif%} </td>
						</tr>
					</table>
				</div>
			</div>
			<div class='index_wrapper'>
				<div id='stamp_graph' class='indexGraph'>
				</div>
				<div id='acct_graph' class='indexGraph'>
				</div>
				<div id='user_graph' class='indexGraph'>
				</div>
			</div>
			
			<script>
				var r = Raphael(document.getElementById("stamp_graph"));
				line1 = r.linechart(10,0,350,300,{{hours}}, {{stamp_graph}}, {axis: "0 0 1 1", axisxstep: 12, axisystep: 12});
				var r = new Raphael(document.getElementById("acct_graph"));
				line2 = r.linechart(10,0,350,300,{{hours}}, {{acct_graph}}, {axis: "0 0 1 1", axisxstep: 12, axisystep: 12});
				var r = new Raphael(document.getElementById("user_graph"));
				line3 = r.linechart(10,0,350,300,{{hours}}, {{user_graph}}, {axis: "0 0 1 1", axisxstep: 12, axisystep: 12});
				
				// Modify the x axis labels
		  			var xText = line1.axis[0].text.items;      
		  			
		  			for(var i in xText){
		        		if (i < 12){
		        			_label = {{times|safe}}[2*i];
		        		}else{
		        			_label = '12am'
		        		}
		    			xText[i].attr({'text': _label});
		  			}
		  			
		  			var xText = line2.axis[0].text.items;      
		  			
		  			for(var i in xText){
		        		if (i < 12){
		        			_label = {{times|safe}}[2*i];
		        		}else{
		        			_label = '12am'
		        		}
		    			xText[i].attr({'text': _label}); 
		  			}
		  			
		  			var xText = line3.axis[0].text.items;      
		  			
		  			for(var i in xText){
		        		if (i < 12){
		        			_label = {{times|safe}}[2*i];
		        		}else{
		        			_label = '12am'
		        		}
		    			xText[i].attr({'text': _label}); 
		  			}
			</script>
			
			<div class="indexTotals">
				<h1> Total Stamps: {{total_stamps}} &nbsp &nbsp &nbsp Total Accounts: {{total_accts}}</h1>
				<h1>  </h1>
			</div>
		</div>
	{% endblock content %}
	
	