<!doctype html>
<html lang="en">
	{% extends 'base.html' %}

	{% block head %}
	
	{{ block.super }}
	
	<script src="/assets/js/sorttable.js"></script>
	{% endblock head %}
	
	{% block content %}
	
	    <div class="contentWrapper">
		    <h1>API Latency report </h1>
		    
		    <div class="latencyCustom">
		    	<h2>Custom Daily Latency Report</h2>
		    	<form action='/latency/' method='get'>
		    		{{form}}
		    		<input type='submit' />
		    	</form>
		    
			    {% if customResults|length > 0 %}
			    	
				    <table class="sortable latencyTable">
				    	
				    	<tr>
				    		<td>Date</td><td>Successes</td><td>Mean &nbsp</td><td>Median &nbsp</td><td>90th Percentile</td><td>Max</td><td>Errors(400)</td><td>Errors(500)</td>
				    	</tr>
					    {% for key,vals in customResults.items %}
					        {% for uri, val in vals.items %}
						        <tr>
						        	<td>{{key}}</td><td>{{val.length}}</td><td>{{val.mean|floatformat:"4"}}</td><td>{{val.median|floatformat:"4"}}</td><td>{{val.ninetieth|floatformat:"4"}}</td><td>{{val.max|floatformat:"4"}}</td><td>{{val.400_errors}}</td><td>{{val.500_errors}}</td>
						        </tr>
						    {% endfor %}
					   	{% endfor %}
				   	</table>
			    {% endif %}
		    </div>
		    
		    <div>
		    <h2>Today's Latency Summary </h2>
		    
		    <table class="sortable latencyTable">
		    	<tr>
		    		<td>API</td><td>Successes</td><td>Mean &nbsp</td><td>Median &nbsp</td><td>90th Percentile</td><td>Max</td><td>Errors(400)</td><td>Errors(500)</td>
		    	</tr>
		    {% for key,val in report.items %}
		        <tr>
		        	<td>{{key}}</td><td>{{val.length}}</td><td>{{val.mean|floatformat:"4"}}</td><td>{{val.median|floatformat:"4"}}</td><td>{{val.ninetieth|floatformat:"4"}}</td><td>{{val.max|floatformat:"4"}}</td><td>{{val.400_errors}}</td><td>{{val.500_errors}}</td>
		        </tr>
		   	{% endfor %}
			
			</table>
		</div>

   	{% endblock content %}