<!doctype html>
<html lang="en">
	{% extends 'base.html' %}

	{% block head %}
	
	{{ block.super }}
	
	<script src="/assets/js/sorttable.js"></script>
	{% endblock head %}
	
	{% block content %}
	    <h1>Last Seven Days Latency Analysis </h1>
	    
	    Blacklist:
	    <form action='/latency/' method='post'>
	    <input type='textarea' name='blacklist' default='Blacklisted user ids, comma separated...'></input>
	    <input type='submit' />
	    </form>
	    
	    Whitelist:
	    <form action='/latency/' method='post'>
	    <input type='textarea' name='whitelist' default='Whitelisted user ids, comma separated...'></input>
	    <input type='submit' />
	    </form>
	    
	    {% if is_blacklist %}
	    Omitting calls from {{ blacklist }}
	    {% else %}
	    {% if is_whitelist %}
	    Only registering calls from {{ whitelist }}
	    {% endif %}
	    {% endif %}
	    <table class="sortable">
	    	<tr>
	    		<td>API</td><td>Successes</td><td>Mean &nbsp</td><td>Median &nbsp</td><td>90th Percentile</td><td>Max</td><td>Errors(400)</td><td>Errors(500)</td>
	    	</tr>
	    {% for i in report.items %}
	        <tr>
	        	<td>{{i.0}}</td><td>{{i.1.4}}</td><td>{{i.1.0}}</td><td>{{i.1.1}}</td><td>{{i.1.2}}</td><td>{{i.1.3}}</td><td>{{i.1.5}}</td><td>{{i.1.6}}</td>
	        </tr>
	   	{% endfor %}

   	{% endblock content %}