<!doctype html>
<html lang="en">
	{% extends 'base.html' %}
	
	{% block content %}
		<h3>User Segmentation </h3>
		
		<p>A user's activity score is calculated by counting their corresponding actions of the following type and calculating their score: <br>
		    Liking a Stamp: +2 points (Removing a like: -2) <br>
		    Adding a Todo: +2 (Removing: -2) <br>
            Adding a comment: +3 (Removing: -3) <br>
            Adding a friend: +3 (Removing: -3) <br>
			Taking an entity-based action: +2 <br>
			Adding a stamp: +5 (Removing: -5) <br>
            Inviting a new User: +5 </p>
        
        <p>Based on these scores a User is classified into one of the following four user groups: <br>
           Power User: 100+ points in a month (25+ points in a week) <br>
           Active User: Between 10 and 99 points in a month (between 5 and 24 points in a week)<br>
           Inactive User: Between 1 and 9 points in a month (Between 1 and 4 points in a week)<br>
           Dormant User: 0 or less points in a week/month </p>
           
        <div>
        	Current Breakdown this week (Since {{weekAgo}}):<br>
        	Total Users: {{usersW}} <br>
        	Mean Score: {{ meanW }} <br>
        	Power Users: {{ powerW }}% <br>
        	Average Users: {{avgW}}% <br>
        	Inactive Users: {{lurkerW}}% <br>
        	Dormant Users: {{dormantW}}% <br><br>
              
       		Current Breakdown this month (Since {{monthAgo}}): <br>
       		Total Users: {{usersM}} <br>
        	Mean Score: {{ meanM }} <br>
        	Power Users: {{ powerM }}% <br>
        	Average Users: {{avgM}}% <br>
        	Inactive Users: {{lurkerM}}% <br>
        	Dormant Users: {{dormantM}}% <br><br>
        </div>
        
	{% endblock content %}
