<!doctype html>
<html lang="en">
	{% extends 'base.html' %}
	
	{% block content %}
		<div class="trending_wrapper" style="text-align:center">
			<h2> Trending on Stamped </h3>
			
			<div id="trending_form" class="trending_form">
			    <form action="/trending/" method="get">
					{% csrf_token %}
					{{ form }}
					<input type ="submit"/>
				</form>
			</div>
			
			{% if topUsers|length > 0 %}
				<div class="top_users">
					<h2>Top 50 Users on Stamped </h2>
						{% for user, followers in topUsers %}
							{{forloop.counter}}) {{user}}: {{followers}} Followers <br>
						{% endfor %}
				</div>
			{% endif %}
			
			<div class="trending_content">
				<h2>Top {{quantity}} {% if stat == 'stamped' %}Stamped{% else %}Todo'd {%endif%} 
					{% if scope == 'today' %}Today{% else %} {%if scope == 'all-time' %}Overall 
					{% else %}in the past {{scope}} (Since {{bgn}}) {% endif %} {% endif %}: </h2>
				{% for i in results %}
					{{forloop.counter}}) {{i.items.0.1}}  ({{i.items.1.1}} {% if stat == 'stamped' %}stamps{% else %}todos{%endif%}) <br>
				{% endfor %} 
			</div>
		</div>
	{% endblock content %}
	