<!doctype html>

<!--[if lte IE 9]>
<html class="ie" lang="en">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->

    {% block pre_head %}
    <head>
        {% endblock pre_head %}
        
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>Stamped</title>
        
        <meta name="description"        content="Stamped is a new way to recommend only 
                                                 what you like best -- restaurants, books, 
                                                 movies, music and more.">
        
        <meta name="author"             content="Stamped, Inc.">
        <meta name="copyright"          content="Stamped, Inc.">
        <meta name="robots"             content="index,follow">
        <meta name="viewport"           content="width=device-width, initial-scale=0.36">
        <meta name="application-name"   content="Stamped">
        
        <!-- properties -->
        <meta property="og:image"       content="{{ STATIC_URL }}img/stamped-logo.png"/>
        <meta property="og:title"       content="Stamped"/>
        <meta property="og:site_name"   content="Stamped"/>
        <meta property="og:type"        content="website"/>
        
        <!-- icons -->
        <link rel="shortcut icon"       href="{{ STATIC_URL }}img/favicon.ico"/>
        <link rel="apple-touch-icon"    href="{{ STATIC_URL }}img/apple-touch-icon.png"/>
        
        <!-- styles -->
        <link rel="stylesheet"          href="{{ STATIC_URL }}css/styles.css">
        {% endblock head %}
        
        {% block post_head %}
    </head>
    {% endblock post_head %}
    
    {% block pre_body %}
    <body {% if body_classes %}class="{{ body_classes }}"{% endif %}>
        <div id="fb-root"></div>
        {% endblock pre_body %}
        
        {% block pre_header %}
        <header>
            {% endblock pre_header %}
            
            {% block header %}
            <div class="header-body fixedwidth clearfix">
                <p class="join">
                    <span class='desc'>Put your stamp of approval on the world.</span>
                    <a class='button' href='#'>JOIN</a>
                </p>
                <p class="sign-in">
                    <span class='desc'>Already stamping?</span>
                    <a class='button' href='#'>SIGN IN</a>
                </p>
                
                <div class="user-logo-large"></div>
            </div>
            {% endblock header %}
            
            {% block post_header %}
            <div class="post-header">
                <div class="ribbon-top"></div>
            </div>
        </header>
        {% endblock post_header %}
        
        {% block pre_main %}
        <div role="main" class="main">
            {% endblock pre_main %}
            
            {% block main %}
            {% endblock main %}
            
            {% block post_main %}
        </div>
        {% endblock post_main %}
        
        {% block pre_footer %}
        <footer>
            {% endblock pre_footer %}
            
            {% block footer %}
            {% endblock footer %}
            
            {% block post_footer %}
        </footer>
        {% endblock post_footer %}
        
        <!-- scripts loaded post-document-body -->
        {% block pre_scripts %}
        <div id="scripts">
            {% endblock pre_scripts %}
            
            {% block scripts %}
            <!-- attempt to load jQuery from google's ajax CDN, falling back to our own local version -->
            <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
            <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2{% if IS_PROD %}.min{% endif %}.js"><\/script>')</script>
            
            <script src="{{ STATIC_URL }}js/script.js"></script>
            <script src="{{ STATIC_URL }}js/libs/persist{% if IS_PROD %}.min{% endif %}.js"></script>
            <script src="{{ STATIC_URL }}js/libs/underscore{% if IS_PROD %}.min{% endif %}.js"></script>
            <script src="{{ STATIC_URL }}js/libs/backbone{% if IS_PROD %}.min{% endif %}.js"></script>
            
            <script>
                var _gaq=[['_setAccount','UA-24470954-1'],['_trackPageview']];
                    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
                
                {{ STAMPED_PRELOAD_JS|safe }}
            </script>
            {% endblock scripts %}
            
            {% block post_scripts %}
        </div> <!-- /scripts -->
        {% endblock post_scripts %}
        
        {% block post_body %}
    </body>
    {% endblock post_body %}
</html>

