<!doctype html>

<!-- CSS Dependencies => assets/generated/css/base.generated.X.Y.Z.css
     - - - - - - - - - - - - - - - - - - - - -
    
    Third-party library dependencies:
        stylesheet: libs/jquery.fancybox.css
    
    Core stamped dependencies:
        stylesheet: styles.css
-->

<!--[if lte IE 9]>
<html class="ie" lang="en">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" {% block html_tags %}{% endblock %}>
<!--<![endif]-->
    
    {% block pre_head %}
    <head>
        {% endblock pre_head %}
        
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>{% if title %}{{title}}{% else %}Stamped{% endif %}</title>
        
        <meta name="author"             content="Stamped, Inc.">
        <meta name="copyright"          content="Stamped, Inc.">
        <meta name="robots"             content="index,follow">
        
        {% block viewport %}
            <meta name="viewport"       content="width=device-width, initial-scale=0.36">
        {% endblock viewport %}
        
        <meta name="application-name"   content="Stamped">
        
        <!-- icons -->
        <link rel="shortcut icon"       href="{{ STATIC_URL }}img/favicon.ico"/>
        <link rel="apple-touch-icon"    href="{{ STATIC_URL }}img/apple-touch-icon.png"/>
        {% endblock head %}
        
        {% block opengraph %}
        <meta property="og:image"       content="http://static.stamped.com/assets/img/stamped-logo.png"/>
        <meta property="og:title"       content="Stamped"/>
        <meta property="og:site_name"   content="Stamped"/>
        <meta property="og:type"        content="website"/>
        {% endblock opengraph %}
        
        {% block styles %}
        
        {% if True %}
            <link rel="stylesheet"      href="{{ STATIC_URL }}css/libs/jquery.fancybox.css?v=2.0.6">
            <link rel="stylesheet"      href="{{ STATIC_URL }}css/styles.css">
        {% else %}
            <link rel="stylesheet"      href="{{ STATIC_URL }}generated/css/base.generated.{{ STAMPED_ASSET_VERSION }}.css">
        {% endif %}
        
        <!--[if lte IE 9]>
        <link rel="stylesheet"          href="{{ STATIC_URL }}css/ie/styles.lte.ie.9.css">
        <![endif]-->
        
        <!--[if lte IE 8]>
        <link rel="stylesheet"          href="{{ STATIC_URL }}css/ie/styles.lte.ie.8.css">
        <![endif]-->
        
        <!--[if lte IE 7]>
        <link rel="stylesheet"          href="{{ STATIC_URL }}css/ie/styles.lte.ie.7.css">
        <![endif]-->
        
        {% endblock styles %}
        
        {% block post_head %}
    </head>
    {% endblock post_head %}
    
    {% block pre_body %}
    <body {% if body_classes %}class="{{ body_classes }}"{% endif %}>
        <div id="fb-root"></div>
        {% endblock pre_body %}
        
        {% block pre_header %}
        <header>
            {% endblock pre_header %}
            
            {% block header %}
            <div class="header-body fixedwidth clearfix">
                <p>
                    <span class='desc'>Put your stamp of approval on the world.</span> <a class='download-the-free-app-button download-stamped-popup' href='{{ STAMPED_DOWNLOAD_APP_LINK }}'></a>
                </p>
                
                <a href="/{{user.screen_name}}" class="user-logo-large"></a>
            </div>
            {% endblock header %}
            
            {% block post_header %}
            <div class="post-header">
                <div class="post-header-overlay"></div>
                <div class="ribbon-top"></div>
            </div>
        </header>
        {% endblock post_header %}
        
        {% block pre_main %}
        <div id="main-page-content" class="main">
            <div id='main-page-content-body' class='main-page-content-body'>
                {% block popup-signup %}
                <div id="popup-signup">
                    {% include "popup-signup.html" %}
                </div>
                {% endblock popup-signup %}
                
                {% endblock pre_main %}
                
                {% block main %}
                {% endblock main %}
                
                {% block post_main %}
            </div>
        </div>
        {% endblock post_main %}
        
        {% block pre_footer %}
        <footer>
            {% endblock pre_footer %}
            
            {% block footer %}
            {% endblock footer %}
            
            {% block post_footer %}
        </footer>
        {% endblock post_footer %}
        
        <!-- scripts loaded post-document-body -->
        {% block pre_scripts %}
        <div id="scripts">
            {% endblock pre_scripts %}
            
            {% block scripts %}
            <!-- attempt to load jQuery from google's ajax CDN, falling back to our own local version -->
            <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
            <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2{% if IS_PROD %}.min{% endif %}.js"><\/script>')</script>
            
            <script>
                var _gaq=[['_setAccount','UA-24470954-1'],['_trackPageview']];
                    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
                
                {{ STAMPED_PRELOAD_JS|safe }}
            </script>
            {% endblock scripts %}
            
            {% block post_scripts %}
        </div> <!-- /scripts -->
        {% endblock post_scripts %}
        
        {% block post_body %}
    </body>
    {% endblock post_body %}
</html>

