{% extends "base.html" %}
{% load stamped_tags %}

{% block head %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/demo.css">
{% endblock head %}

{% block main %}
    {{ block.super }}
    
    {% custom_template "stamp-gallery" %}
    <div id="data"></div>
{% endblock main %}

{% block scripts %}
    {{ block.super }}
     
    <script src="{{ STATIC_URL }}js/libs/mustache.js"></script>
    <script src="{{ STATIC_URL }}js/demo.js"></script>
{% endblock scripts %}

