{% extends "legal.html" %}
{% load stamped_tags %}

{% block pane-body %}
    <p class="title">FAQ</p>
    
    <div id="views" class="active-view-faq">
        <h2>What is Stamped?</h2>

        <p>Stamped is a new platform for friends to share only what they like best -- restaurants, books, movies, music and more. Everyone gets a limited number of stamps to start, and can earn more if their friends like what they recommend. The result is a new source of quality information that is curated by trusted friends as opposed to large anonymous crowds.</p>


        <h2>Is my Stamped profile public?</h2>

        <p>All profiles on Stamped are public by default. This means that anyone who is a member of Stamped can find and view your stamps.</p>


        <h2>Can I make my Stamped profile private?</h2>

        <p>Not at the moment, but we are actively working on giving people the ability to have a private profile. We hope to push an update in the near future with that capability.</p>


        <h2>How do I use Stamped?</h2>

        <p>You can currently only use Stamped on an iPhone or iPod Touch.  We're actively working on expanding to other platforms.</p>


        <h2>What exactly is a "stamp"?</h2>

        <p>A stamp is a five-star recommendation. It represents something that literally deserves your stamp of approval. Because stamps are intended to be for high quality things, you only have a limited number (100) to give out at first. You can earn more if your friends like what you recommend.</p>


        <h2>How do I get more stamps?</h2>

        <p>The primary way to get more stamps is through something called <strong>credit</strong>. Credit is a way of thanking someone for introducing you to the thing you're stamping. If your friends give you credit on a stamp, you get more stamps.</p>

        <p>Additionally, if three of your friends "like" anything you stamp, you'll get more stamps.</p>


        <h2>What happens if I run out of stamps?</h2>

        <p>Hopefully your friends will give you more stamps via credit or likes before you end up stamping 100 things. If you do run out though, you can always delete some of your older stamps in order to stamp something new.</p>


        <h2>What kinds of things should I stamp? Can I stamp anything?</h2>

        <p>Stamped has made it easy to stamp restaurants, bars, books, movies, and music simply by searching for them. That being said, if you want to tell your friends about something great and it's not in the categories above, go ahead and stamp it!  Stamped is for the best stuff, and that's ultimately defined by you.</p>


        <h2>None of my friends are on Stamped.  Can I still use it?</h2>

        <p>While Stamped is great with your friends, you can also follow the experts you trust to get great recommendations. Check out suggested users like Peter Travers (Rolling Stone film critic) if you're waiting for your friends.</p>


        <h2>How is this different from Yelp?</h2>

        <p>Yelp is optimized for the average rating of a large, anonymous crowd. Stamped is designed to bring you only the best things, from only people you know and trust.</p>


        <h2>How is stamping different than liking something on Facebook?</h2>

        <p>Stamping is very different than using the Facebook "like" button. Facebook "likes" are designed for quick feedback around web content, while a stamp is designed for a meaningful recommendation of a real-world experience, like a restaurant or movie. Additionally, Stamped is optimized for quality over quantity, with everybody only getting 100 stamps to start.</p>


        <h2>How much does Stamped cost to download?</h2>

        <p>Nothing, it's free.</p>


        <h2>Can brands create accounts? Who do I contact for special partnerships?</h2>

        <p>Brands can create accounts just like any other user at the moment. If you're interested in working with us in a custom way, feel free to reach out at <a href="mailto:partners@stamped.com">partners@stamped.com</a>.</p>


        <h2>Is Stamped available for Android?</h2>

        <p>Not yet, but we hope to have an Android version of Stamped soon.</p>

         
        <h2>Can I delete a stamp?</h2>

        <p>Yes, you can delete any stamp. Click <a href="http://help.stamped.com/customer/portal/articles/233505-how-do-i-delete-a-stamp-">here</a> for directions on how to do so.</p>


        <h2>Why do you have an FAQ?  Does anyone ever read these things ever?</h2>

        <p>Probably not.  But it seemed like a thing we should do, so we did it.</p>
    </div>
{% endblock pane-body %}

