{% extends "base.html" %}
{% load stamped_tags %}

<!-- Javascript Dependencies => assets/generated/js/index.generated.js
     - - - - - - - - - - - - - - - - - - - - - - - -
    
    jQuery plugin dependencies:
        script: libs/jquery-easing.js
        script: libs/jquery.fancybox.js
        script: libs/jquery.fittext.js
        script: libs/jquery.event.drag.js
    
    Third-party library dependencies:
    
    Core stamped dependencies:
        script: utils.js
        script: signup.js
        script: index.js
-->

<!-- CSS Dependencies => assets/generated/css/index.generated.css
     - - - - - - - - - - - - - - - - - - - - -
    
    Core stamped dependencies:
        stylesheet: index.css
-->

<!-- HTML Template Dependencies => profile.generated.html
     - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->

{% block viewport %}
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
{% endblock viewport %}

{% block styles %}
    {{ block.super }}
    
    {% if STAMPED_DEBUG %}
        <link rel="stylesheet" href="{{ STAMPED_STATIC_URL }}css/index.css">
    {% else %}
        <link rel="stylesheet" href="{{ STAMPED_STATIC_URL }}css/index.generated.{{ STAMPED_ASSET_VERSION }}.css">
    {% endif %}
    
    <style>
        {% for user in tastemakers %}
            {% custom_css "index" user %}
        {% endfor %}
    </style>
    
    <!--[if lte IE 9]>
    <link rel="stylesheet"          href="{{ STAMPED_STATIC_URL }}css/ie/index.lte.ie.9.css">
    <![endif]-->
    
    <!--[if lte IE 8]>
    <link rel="stylesheet"          href="{{ STAMPED_STATIC_URL }}css/ie/index.lte.ie.8.css">
    <![endif]-->
    
    <!--[if lte IE 7]>
    <link rel="stylesheet"          href="{{ STAMPED_STATIC_URL }}css/ie/index.lte.ie.7.css">
    <![endif]-->
{% endblock styles %}

{% block pre_header %}
{% endblock pre_header %}

{% block header %}
{% endblock header %}

{% block post_header %}
{% endblock post_header %}

{% block main %}
    <div id="intro">
        <div id="intro-hero">
            <div class="text">
                <div class="line active-line"><span class="blurred">FUCK</span><span class="unblurred">SCREW</span> MEDIOCRITY</div>
                <div class="line">DOWNLOAD STAMPED</div>
            </div>
            
            <div class="text">
                <div class="line active-line">WHY SO SERIOUS?</div>
                <div class="line">START STAMPING</div>
            </div>
            
            <div class="text">
                <div class="line active-line">LIKES  ARE CHEAP</div>
                <div class="line">STARS  ARE PASSÉ</div>
                <div class="line">STAMPS ARE <span class="italic">YOU</span></div>
            </div>
            
            <div class="text">
                <div class="line active-line">SHARE YOUR PERSONALITY</div>
                <div class="line">FIND COOL STUFF</div>
                <div class="line">DOWNLOAD STAMPED</div>
            </div>
            
            <div class="text">
                <div class="line active-line">FORGET THE REST</div>
                <div class="line">STAMP THE BEST</div>
            </div>
            
            <div class="text">
                <div class="line active-line">BORED OF BEING BORED?</div>
                <div class="line">DOWNLOAD STAMPED</div>
            </div>
            
            <div class="text">
                <div class="line active-line">BECOME A TASTEMAKER</div>
                <div class="line">DOWNLOAD STAMPED</div>
            </div>
            
            <div class="text">
                <div class="line active-line">WHO YOU TRUST</div>
                <div class="line">ONLY THE BEST</div>
                <div class="line">DOWNLOAD STAMPED</div>
            </div>
            
            <div class="text">
                <div class="line active-line">ARE YOU TRUSTWORTHY?</div>
                <div class="line">ARE YOU STAMPWORTHY?</div>
                <div class="line">DOWNLOAD STAMPED</div>
            </div>
            
            <div class="text">
                <div class="line active-line">SHARE YOUR FAVORITES</div>
                <div class="line">DISCOVER NEW FAVORITES</div>
            </div>
            
            <div class="text">
                <div class="line active-line">A PICTURE = 1000 WORDS</div>
                <div class="line">A STAMP = 1000 LIKES</div>
            </div>
            
            <div class="text">
                <div class="line active-line">CHECKINS ARE CHEAP</div>
                <div class="line">STAMPS ARE PRICELESS</div>
            </div>
            
            <div class="text">
                <div class="line active-line">MESS WITH THE BEST</div>
                <div class="line">DIE LIKE THE REST</div>
                <div class="line">DOWNLOAD STAMPED</div>
            </div>
        </div>
    </div>
     
    <div id="main" class="main-content">
        <div class="vertically-centered">
            <div id="main-header" class="hidden-main-animating clearfix">
                <div class="floatright">
                    <a href="{{ STAMPED_DOWNLOAD_APP_LINK }}" class="launcher-icon-button download-stamped-popup"></a>
                </div>
                
                <div id="available" class="floatright">
                    <div class="desc">Available on the App Store&#8480;</div>
                    <a href="{{ STAMPED_DOWNLOAD_APP_LINK }}" class="download-the-app-button download-stamped-popup"></a>
                </div>
            </div>
            
            <div id="main-body" class="active-pane-0">
                <div id="stamped-logo" class="replaced">Stamped</div>
                
                <div id="pane-nav">
                    <ol>
                        <li><a href="#pane-0" id="pane-nav-0" class="pane-nav-button"></a></li>
                        <li><a href="#pane-1" id="pane-nav-1" class="pane-nav-button"></a></li>
                        <li><a href="#pane-2" id="pane-nav-2" class="pane-nav-button"></a></li>
                        <li><a href="#pane-3" id="pane-nav-3" class="pane-nav-button"></a></li>
                        <li><a href="#pane-4" id="pane-nav-4" class="pane-nav-button"></a></li>
                    </ol>
                </div>
                
                <div class="pane-body">
                    <div class="ribbon-wrapper">
                        <div class="ribbon-bottom"></div>
                    </div>
                    
                    <div id="pane-wrapper">
                        <div id="pane-0" class="pane">
                            <div class="title">
                                Introducing Stamped 2.0
                            </div>
                            
                            <div class="desc">
                                <p>
                                    Stamped is a fun and useful way to record and share all of your favorite things -- restaurants, books, movies, music and more.
                                </p>
                                
                                <p>
                                    Everyone gets a limited number of stamps to start, so you’ll discover only the best recommendations from people you trust. Try it out, it’s free!
                                </p>
                            </div>
                            
                            <div id="category-illustration"></div>
                        </div>
                        
                        <div id="pane-1" class="pane">
                            <div class="title">
                                Put your stamp of approval on the world.
                            </div>
                            
                            <div class="desc">
                                <p>
                                    <span class="bolded">A stamp is for only the things you like best.</span>
                                </p>
                                
                                <p>
                                    Use it on that book you couldn’t put down or that song stuck in your head. Stamp the movie that made you laugh so hard you cried.
                                </p>
                                
                                <p>
                                    If you love something, stamp it!
                                </p>
                            </div>
                        </div>
                        
                        <div id="pane-2" class="pane">
                            <div class="title">
                                The Guide - find what you want, when you want it.
                            </div>
                            
                            <div class="desc">
                                <p>
                                    The Guide integrates with third-parties so it’s easy to listen to and download music, buy movie tickets, add movies to your queue, buy books, and even view restaurant menus, all without ever leaving Stamped.
                                </p>
                                
                                <div class="third-party-logos">
                                    <div class="third-party-logo third-party-logo-spotify"></div>
                                    <div class="third-party-logo third-party-logo-rdio"></div>
                                    <div class="third-party-logo third-party-logo-netflix"></div>
                                    <div class="third-party-logo third-party-logo-fandango"></div>
                                    <div class="third-party-logo third-party-logo-opentable"></div>
                                </div>
                                
                                <p>
                                    It's a visual and personalized way to discover great new things to try.
                                </p>
                            </div>
                        </div>
                        
                        <div id="pane-3" class="pane">
                            <div class="title">
                                Follow the people you trust and respect.
                            </div>
                            
                            <div class="desc">
                                <p>
                                    Follow your friends from <span class="facebook">Facebook</span> and <span class="twitter">Twitter</span>, or celebrities and brands like <a href="/mariobatali" class="bolded">Mario Batali</a> and <a href="/nymag" class="bolded">New York Magazine</a>.
                                </p>
                                
                                <p>
                                    With Stamped, you can discover great content through the people whose tastes you <span style="italic">actually</span> respect.
                                </p>
                                
                                <div id="tastemaker-gallery">
                                    {% for user in tastemakers %}
                                        <div class="tastemaker tastemaker-{{user.screen_name}}" data-screen-name="{{user.screen_name}}">
                                            {% handlebars_template "profile-image-60" user %}
                                            
                                            <div class="user-logo-small tastemaker-logo tastemaker-logo-{{user.screen_name}}"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        
                        <div id="pane-4" class="pane">
                            <div class="title">
                                What are your favorite things?
                            </div>
                            
                            <div class="desc">
                                <p>
                                    Check out videos of people discussing what they like best.
                                </p>
                                
                                <div id="user-video-gallery">
                                    <div id="tristanlisa-video-preview" class="user-video-preview">
                                        <a href="http://www.youtube.com/watch?v=ZL_Q4jBTh_8&autoplay=1" class="user-video-preview-image lightbox-video"><div class="play-video-button-small"></div></a>
                                        
                                        <div class="user-video-desc">
                                            <div class="screen-names"><a href="/tristan">@tristan</a> and <a href="/lisa">@lisa</a></div>
                                        </div>
                                    </div>
                                    
                                    <div id="maggie-video-preview" class="user-video-preview">
                                        <a href="http://www.youtube.com/watch?v=ZL_Q4jBTh_8&autoplay=1" class="user-video-preview-image lightbox-video"><div class="play-video-button-small"></div></a>
                                        
                                        <div class="user-video-desc">
                                            <div class="screen-names"><a href="/maggie">@maggie</a></div>
                                        </div>
                                    </div>
                                    
                                    <div id="hero-video-preview" class="user-video-preview">
                                        <a href="http://www.youtube.com/watch?v=ZL_Q4jBTh_8&autoplay=1" class="user-video-preview-image lightbox-video"><div class="play-video-button-large"></div></a>
                                        
                                        <div class="user-video-desc">
                                            <div class="screen-names"><a href="/justinbieber">@justinbieber</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="ribbon-wrapper ribbon-wrapper-bottom">
                        <div class="ribbon-top"></div>
                    </div>
                </div>
            </div>
            
            <div id="main-footer" class="hidden-main-animating clearfix">
                <div class="watch-video">
                    <div class="speech-bubble clearfix">
                        <div class="default-video">
                            <a href="http://www.youtube.com/watch?v=ZL_Q4jBTh_8&autoplay=1" class="play-video-button-small lightbox-video"></a>
                            
                            <p class="desc"><a href="http://www.youtube.com/watch?v=ZL_Q4jBTh_8&autoplay=1" class="watch lightbox-video">Watch</a> the video with <a href="/justinbieber" class="bolded">@justinbieber</a></p>
                        </div>
                        
                        <div class="overview-video">
                            <a href="http://www.youtube.com/watch?v=ZL_Q4jBTh_8&autoplay=1" class="play-video-button-small lightbox-video"></a>
                            
                            <p class="desc"><a href="http://www.youtube.com/watch?v=ZL_Q4jBTh_8&autoplay=1" class="watch lightbox-video">Watch</a> the overview video to learn more.</p>
                        </div>
                    </div>
                    
                    <a class="bieber-video-preview-icon"></a>
                </div>
                
                <a href="{{ STAMPED_DOWNLOAD_APP_LINK }}" class="app-store-button replaced">Available on the App Store</a>
            </div>
        </div>
    </div>
    
    <div id="main-iphone" class="main-content">
        <div id="iphone-hero">
            <div class="iphone-body-shadow iphone-body-shadow-0"></div>
            <div class="iphone-body-shadow iphone-body-shadow-1"></div>
            <div class="iphone-body">
                <div class="iphone-body-lighting iphone-body-lighting-0"></div>
            </div>
            
            <div class="iphone-screens iphone-screen-active-inbox">
                <div class="iphone-screen iphone-screen-inbox">
                    <div class="iphone-inbox-body"></div>
                    <div class="iphone-inbox-selection"></div>
                    <div class="iphone-inbox-header"></div>
                    <div class="iphone-inbox-footer"></div>
                </div>
                
                <div class="iphone-screen iphone-screen-sdetail iphone-screen-sdetail-active-0">
                    <div class="iphone-screen-back-button"></div>
                    <div class="iphone-screen-sdetail-0"></div>
                </div>
                
                <div class="iphone-screen iphone-screen-guide iphone-screen-guide-active-0">
                    <div class="iphone-screen-guide-0"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="tastemaker-map-window" class="main-content forward-button-active refresh-button-active">
        <div id="back-button"    class="chrome-button"></div>
        <div id="forward-button" class="chrome-button"></div>
        <div id="refresh-button" class="chrome-button"></div>
        
        <a id="fake-url" href="/robby/map">www.stamped.com/robby/map</a>
        
        <div id="tastemaker-map-window-overlay">
            <div id="tastemaker-map-window-loading"></div>
        </div>
    </div>
{% endblock main %}

{% block pre_footer %}
    <footer class="hidden-main-animating main-content">
{% endblock pre_footer %}

{% block footer %}
    <div class="clearfix">
        <div class="floatleft">
            <div id="footer-nav">
                <a href="/" class="nav {% if page == 'index' %}active{% endif %}">Home</a></li>
                <a href="/about" class="nav {% if page == 'about' %}active{% endif %}">About Us</a></li>
                <a href="http://help.stamped.com" class="nav {% if page == 'help' %}active{% endif %}">Help</a></li>
                <a href="http://blog.stamped.com" class="nav {% if page == 'blog' %}active{% endif %}">Blog</a>
                <a href="/jobs" class="nav {% if page == 'jobs' %}active{% endif %}">Jobs</a></li>
                <a href="/legal" class="nav {% if page == 'legal' %}active{% endif %}">Legal</a>
            </div>
        </div>
        
        <div id="apple-legal">
            iPhone is a trademark of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.
        </div>
        
        <div id="social">
            <a href="https://twitter.com/stampedapp" title="Follow @stampedapp on Twitter" class="social-button social-button-twitter"></a>
            <a href="http://www.facebook.com/stampedapp" title="Like @stampedapp on Facebook!" class="social-button social-button-facebook"></a>
            <a href="https://plus.google.com/u/1/113552720437683308057/posts" title="Follow Stamped on Google+" class="social-button social-button-google"></a>
        </div>
    </div>
{% endblock footer %}

{% block scripts %}
    {{ block.super }}
    
    {% if STAMPED_DEBUG %}
        <script src="{{ STAMPED_STATIC_URL }}js/libs/jquery-easing.js"></script>
        <script src="{{ STAMPED_STATIC_URL }}js/libs/jquery.fancybox.js"></script>
        <script src="{{ STAMPED_STATIC_URL }}js/libs/jquery.fittext.js"></script>
        <script src="{{ STAMPED_STATIC_URL }}js/libs/jquery.event.drag.js"></script>
        
        <script src="{{ STAMPED_STATIC_URL }}js/utils.js"></script>
        <script src="{{ STAMPED_STATIC_URL }}js/signup.js"></script>
        <script src="{{ STAMPED_STATIC_URL }}js/index.js"></script>
    {% else %}
        <script src="{{ STAMPED_STATIC_URL }}js/index.generated.{{ STAMPED_ASSET_VERSION }}.js"></script>
    {% endif %}
{% endblock scripts %}

