{% extends "base2.html" %}
{% load stamped_tags %}

<!-- 
    NOTE: this is a workaround because the built-in ssi tag doesn't support 
    context variables as arguments. We use ssi to include other html files 
    which contain non-django templates that the django templating system 
    should not attempt to parse. Note that we would use the built-in include 
    tag if we wanted to parse an external template before inclusion.
-->
{% load ssi from future %}

<!-- Javascript Dependencies => index.generated.js
     - - - - - - - - - - - - - - - - - - - - - - - -
    
    jQuery plugin dependencies:
        script: libs/jquery-easing.js
    
    Third-party library dependencies:
    
    Core stamped dependencies:
        script: utils.js
        script: index.js
-->

<!-- CSS Dependencies => index.generated.css
     - - - - - - - - - - - - - - - - - - - - -
    
    Third-party library dependencies:
    
    Core stamped dependencies:
        stylesheet: index.less
-->

<!-- HTML Template Dependencies => profile.generated.html
     - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->

{% block styles %}
    {{ block.super }}
    
    <!--<link rel="stylesheet" href="{{ STATIC_URL }}css/index.generated.css">-->
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
    
    <!--[if lte IE 9]>
    <link rel="stylesheet"          href="{{ STATIC_URL }}css/ie/index.lte.ie.9.css">
    <![endif]-->
    
    <!--[if lte IE 8]>
    <link rel="stylesheet"          href="{{ STATIC_URL }}css/ie/index.lte.ie.8.css">
    <![endif]-->
    
    <!--[if lte IE 7]>
    <link rel="stylesheet"          href="{{ STATIC_URL }}css/ie/index.lte.ie.7.css">
    <![endif]-->
{% endblock styles %}

{% block header %}
{% endblock header %}

{% block post_header %}
{% endblock post_header %}

{% block main %}
    <p>Stamped.com TODO TEST TODO TEST TODO</p>
    <div id="iphone-intro"></div>
{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
    {{ block.super }}
    
    {% if DEBUG %}
        <script src="{{ STATIC_URL }}js/libs/jquery-easing.js"></script>
        <script src="{{ STATIC_URL }}js/index.js"></script>
    {% else %}
        <script src="{{ STATIC_URL }}js/index.generated.js"></script>
    {% endif %}
{% endblock scripts %}

