{% extends "yahoo_index.html" %}
{% load stamped_tags %}

{% block pane-body %}
    <p class="pane-intro">
        Stamped + Yahoo!
    </p>
    
    <p>We’re very happy to share some big news: Stamped has been acquired by Yahoo!.</p>

    <p>When we started Stamped almost a year and a half ago, our goal was simple: create something that solves a problem and is truly useful, not frivolous. We were fortunate enough to connect with a passionate group of people, from investors to partners to users, who felt the same way. It’s been an incredible journey building Stamped from just an idea in our heads to a company with nine awesome people. We simply can’t thank you enough for all your support.</p>

    <p>Over the next 30 days, we will be discontinuing the Stamped product. It’s sad to let something we love go.  But the good news is that you can take your stamps with you.  We’ve built a tool [link] for exporting your stamps and other data. If you have any questions at all about the transition, please don’t hesitate to email us personally (Bart [link], Robby [link], Kevin [link]).</p>

    <p>As for our team’s next step, we couldn’t be more thrilled to join Yahoo!. As a team of mostly former Googlers, we’ve all worked with and are big fans of Marissa. So when an opportunity arose to become a part of the team at Yahoo!, we jumped. As entrepreneurs, it’s never easy to walk away from something you built from the ground up, but the folks we met with at Yahoo! are simply top-notch and we’re thrilled to be part of the team!</p>

    <p>The Stamped team will be creating a brand new product and engineering office for Yahoo in NYC’s Bryant Park. After everything we learned from building Stamped, we’re excited to start work again on something big, mobile, and new -- but we can’t discuss the details just yet. And we’re really stoked to be able to hire lots of talented engineers and designers for this new project. If you’re interested in joining us, send us an email <a href="mailto:jobs@stamped.com">jobs@stamped.com</a>.</p>

    <p>The weird thing about building a software startup, as opposed to a restaurant or a store, is that you never really get a chance to meet all the people who use your product. But we wish we could have, because we would tell you in person: THANK YOU! You helped us live our dream, and we’re fortunate enough to be able to continue to do so at Yahoo!.</p>

    <p>Onward!</p>

    <div class="signatures"></div>
    
    <p class="bolded">Robby, Bart &amp; Kevin</p>
{% endblock pane-body %}

