{% extends "profile2.html" %}
{% load stamped_tags %}
{% load ssi from future %}


{% block head %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map.css">
{% endblock head %}

{% block pre_profile_main_content %}
    <div id="main-content" class="fixedwidth">
{% endblock pre_profile_main_content %}

{% block profile_main_content %}
    {% mustache_template "stamp-map" %}
{% endblock profile_main_content %}

{% block scripts %}
    {{ block.super }}
     
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD4uiuKac5adB9_bwQK9fgJx3SyZVzQsSc&sensor=true"></script>
    <script src="{{ STATIC_URL }}js/libs/infobox{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/markerclusterer{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/map.js"></script>
{% endblock scripts %}

