{% extends "profile.html" %}
{% load stamped_tags %}
{% load ssi from future %}

<!-- Javascript dependencies => assets/generated/js/map.generated.js
     - - - - - - - - - - - - - - - - - - - - - -
    
    jQuery plugin dependencies:
        script: libs/jquery.hotkeys.js
    
    Third-party library dependencies:
        script: libs/handlebars.js
        script: libs/infobox.js
        script: libs/markerclusterer.js
    
    Core stamped dependencies:
        script: map.js
-->

<!-- CSS Dependencies => assets/generated/css/map.generated.css
     - - - - - - - - - - - - - - - - - - -
    
    Core stamped dependencies:
        stylesheet: map.css
-->

<!-- HTML Template Dependencies => map.generated.html
     - - - - - - - - - - - - - - - - - - - - - - - - - - -
     
     template: stamp-map-item.template.html
     template: social-feedback.template.html
-->

{% block styles %}
    {{ block.super }}
    
    {% if STAMPED_DEBUG %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/map.css">
    {% else %}
        <link rel="stylesheet" href="{{ STATIC_URL }}assets/generated/css/map.generated.{{ STAMPED_ASSET_VERSION }}.css">
    {% endif %}
    
    <!--[if lte IE 9]>
    <link rel="stylesheet"          href="{{ STATIC_URL }}css/ie/map.lte.ie.9.css">
    <![endif]-->
    
    <!--[if lte IE 8]>
    <link rel="stylesheet"          href="{{ STATIC_URL }}css/ie/map.lte.ie.8.css">
    <![endif]-->
    
    <!--[if lte IE 7]>
    <link rel="stylesheet"          href="{{ STATIC_URL }}css/ie/map.lte.ie.7.css">
    <![endif]-->
{% endblock styles %}

{% block profile-header %}
{% endblock profile-header %}

{% block stamp_category_nav_bar %}
{% endblock stamp_category_nav_bar %}

{% block pre_profile_main_content %}
    <div id="main-content" class="fullwidth">
{% endblock pre_profile_main_content %}

{% block profile_main_content %}
    <div class="stamp-map">
        <div class="stamp-map-canvas blur-nohover">
            {% if lite %}
                <div id="static-stamp-map-canvas" class="blur_3"></div>
            {% endif %}
        </div>
        
        {% if not lite %}
            <a class="my-location" href="#" title="My Location">
                <div class="inner"></div>
            </a>
            
            <div class="share-widget">
                <div class="desc">Share this map</div>
                
                <div class='share-buttons clearfix'>
                    <div class='share-button facebook'>
                        <div class="fb-like" data-layout="button_count" data-href="/{{user.screen_name}}/map"></div>
                    </div>
                    
                    <div class='share-button twitter'>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="stampedapp" data-url="/{{user.screen_name}}/map" data-text="Check out {{user.screen_name}}'s map on Stamped">Tweet</a>
                    </div>
                    
                    <div class='share-button google'>
                        <g:plusone size="medium" href="/{{user.screen_name}}/map"></g:plusone>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <div class="fixedwidth">
            <div class="stamp-map-nav-wrapper">
                <div class="stamp-map-nav">
                    <div class="nav-header clearfix">
                        {% if lite %}
                            {% handlebars_template "profile-image-medium-ish-lite" user %}
                        {% else %}
                            {% handlebars_template "profile-image-medium-ish" user %}
                        {% endif %}
                        
                        <div class="nav-header-title">
                            <div class="name">
                                {% if lite %}
                                    {{ user.screen_name }}'s
                                {% else %}
                                    {% handlebars_template "screen-name" user %}'s
                                {% endif %}
                            </div>
                            
                            <div class="stamp-map-title user-primary">Stamp Map</div>
                        </div>
                        
                        <div class="list-view-nav">
                            <a href="#" class='arrow up-arrow'   title="Collapse stamp list"></a>
                            <a href="#" class='arrow down-arrow' title="Expand stamp list"></a>
                        </div>
                    </div>
                    
                    <div class="stamp-list-view">
                        {% for stamp in stamps %}
                            <div class="stamp-list-view-item user-primary-selection stamp-id-{{stamp.stamp_id}}">
                                <div class="entity-header">
                                    <div class="stamp-category-{{stamp.entity.category}} stamp-subcategory-{{stamp.entity.subcategory}}">
                                        <div class='title clearfloat'>
                                            <div class="pronounced-title">
                                                <a class='sdetail' href="{{stamp.url}}" title="{{stamp.entity.title}}">{{stamp.entity.title}}</a>
                                            </div>
                                            
                                            <span class='user-logo-tiny'></span>
                                        </div>
                                        
                                        <div class="subtitle-line">
                                            <p>
                                                <span class="icon"></span>
                                                <span class="subtitle">{{stamp.entity.subcategory|title}} - {{stamp.entity.subtitle}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="nav-dummy-footer">
                        <div class="content">
                            {% if not lite %}
                                <a class="map-profile-link" href="/{{user.screen_name}}"><div class='map-profile-icon-wrapper profile-icon'><div class='map-profile-icon'><div class='inner'></div><div class='inner-shadow'></div></div></div><span class="desc"> View Full Profile</span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="nav-footer">
                    <div class="content">
                        {% if not lite %}
                            <a class="map-profile-link" href="/{{user.screen_name}}"><div class='map-profile-icon-wrapper profile-icon'><div class='map-profile-icon'><div class='inner-shadow'></div><div class='inner'></div></div></div><span class="desc"> View Full Profile</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock profile_main_content %}

{% block scripts %}
    {{ block.super }}
     
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD4uiuKac5adB9_bwQK9fgJx3SyZVzQsSc&sensor=true"></script>
    {% if STAMPED_DEBUG %}
        <script src="{{ STATIC_URL }}js/libs/jquery.hotkeys.js"></script>
        <script src="{{ STATIC_URL }}js/libs/handlebars.js"></script>
        <script src="{{ STATIC_URL }}js/libs/infobox.js"></script>
        <script src="{{ STATIC_URL }}js/libs/markerclusterer.js"></script>
        <script src="{{ STATIC_URL }}js/map.js"></script>
    {% else %}
        <script src="{{ STATIC_URL }}assets/generated/js/map.generated.{{ STAMPED_ASSET_VERSION }}.js"></script>
    {% endif %}
    
    {% ssi STAMPED_MAP_TEMPLATE_FILE %}
{% endblock scripts %}

