{% extends "about.html" %}
{% load stamped_tags %}

<!-- Javascript Dependencies => assets/generated/js/password_reset.generated.js
     - - - - - - - - - - - - - - - - - - - - - - - -
    
    Core stamped dependencies:
        script: password_reset.js
-->

<!-- CSS Dependencies => assets/generated/css/password_reset.generated.css
     - - - - - - - - - - - - - - - - - - - - -
    
    Third-party library dependencies:
    
    Core stamped dependencies:
        stylesheet: password_reset.css
-->

{% block styles %}
    {{ block.super }}
    
    {% if STAMPED_DEBUG %}
        <link rel="stylesheet" href="{{ STAMPED_STATIC_URL }}css/password_reset.css">
    {% else %}
        <link rel="stylesheet" href="{{ STAMPED_STATIC_URL }}css/password_reset.generated.{{ STAMPED_ASSET_VERSION }}.css">
    {% endif %}
{% endblock styles %}

{% block pane-body %}
    <p class="title">Change password</p>
    
    <div id="views" class="active-view-default">
        <div class="view view-default">
            <p class="desc">Enter a new password for your Stamped account.</p>
            
            <form class="password-form">
                <input type="password" name="password-0" class="password" value=""></input>
                <input type="password" name="password-1" class="password" value=""></input>
                
                <button type="submit" class="submit-button" action="/password" method="POST"></button>
            </form>
        </div>
        
        <div class="view view-success">
            <p class="desc">Your password has been successfully changed.</p>
        </div>
    </div>
{% endblock pane-body %}

{% block post-main %}
    <div class="made-in-nyc-logo"></div>
{% endblock post-main %}

{% block scripts %}
    {{ block.super }}
    
    {% if STAMPED_DEBUG %}
        <script src="{{ STAMPED_STATIC_URL }}js/password_reset.js"></script>
    {% else %}
        <script src="{{ STAMPED_STATIC_URL }}js/password_reset.generated.{{ STAMPED_ASSET_VERSION }}.js"></script>
    {% endif %}
{% endblock scripts %}

