{% extends "base2.html" %}
{% load stamped_tags %}

<!-- 
    NOTE: this is a workaround because the built-in ssi tag doesn't support 
    context variables as arguments. We use ssi to include other html files 
    which contain non-django templates that the django templating system 
    should not attempt to parse. Note that we would use the built-in include 
    tag if we wanted to parse an external template before inclusion.
-->
{% load ssi from future %}

{% block head %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sdetail.css">
    <!--<link rel="stylesheet" href="{{ STATIC_URL }}css/libs/colorbox.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/libs/jquery.fancybox.css?v=2.0.6">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/libs/jquery.jscrollpane.css">
    
    <style>
        {% custom_css "profile" %}
    </style>
{% endblock head %}

{% block main %}
    {{ block.super }}
    
    {% block profile-header %}
    <div class="profile-header-wrapper">
        <div class="profile-header">
            <div class="profile-content-page">
                <div class="profile-header-body">
                    <div class="innerbg"></div>
                    <div class="profile-header-body-fixedwidth fixedwidth clearfix">
                        
                        <!-- TODO: must include profile image in profile-section
                             because profile image size shrinks for non-default sections -->
                        
                        {% handlebars_template "profile-image-large" user %}
                        
                        <div class="floatleft profile-section profile-section-default">
                            <p class='profile-title'>
                                {{user.name}}
                            </p>
                            
                            <p>
                                <a class='screen-name' href="/{{user.screen_name}}">@{{user.screen_name}}</a>{% if user.location %} / {{user.location}}{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="profile-header-post">
                    <div class="ribbon-bottom"></div>
                    <div class="inset-stamp">
                        <div class="stamp-count">{{user.num_stamps}}</div>
                        <p>STAMPS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock profile-header %}
    
    {% block stamp_category_nav_bar %}
    <nav id="stamp-category-nav-bar" style="display: block;">
        <ol>
            <li class="default">
                <a class="replaced" href="/{{user.screen_name}}"></a>
                <div></div>
            </li>
            <li class="place">
                <a class="replaced" href="/{{user.screen_name}}?category=place"></a>
                <div></div>
            </li>
            <li class="music">
                <a class="replaced" href="/{{user.screen_name}}?category=music"></a>
                <div></div>
            </li>
            <li class="book">
                <a class="replaced" href="/{{user.screen_name}}?category=book"></a>
                <div></div>
            </li>
            <li class="film">
                <a class="replaced" href="/{{user.screen_name}}?category=film"></a>
                <div></div>
            </li>
            <li class="other">
                <a class="replaced" href="/{{user.screen_name}}?category=other"></a>
                <div></div>
            </li>
        </ol>
    </nav>
    {% endblock stamp_category_nav_bar %}
    
    {% block pre_profile_main_content %}
    <div id="main-content" class="fixedwidth">
        
        <div class='stamp-gallery-header'>
            <div class='stamp-gallery-sort'>
                <a href="#" class='item selected sort-modified' title='Sort stamps by most recent'>
                    Newest<span class='arrow'> &#x25BC</span>
                </a>
                
                <a href="#" class='item sort-popularity' title='Sort stamps by popularity'>
                    Popular<span class='arrow'> &#x25BC</span>
                </a>
            </div>
            
            <div class='stamp-gallery-view-map'>
                <a href="#">View Map</a>
            </div>
        </div>
        
        {% endblock pre_profile_main_content %}
        
        {% block profile_main_content %}
            {% handlebars_template "stamp-gallery" %}
        {% endblock profile_main_content %}
        
        {% block post_profile_main_content %}
    </div>
    {% endblock post_profile_main_content %}
{% endblock main %}

{% block scripts %}
    {{ block.super }}
     
     <!-- jQuery plugins -->
    <script src="{{ STATIC_URL }}js/libs/jquery.infinitescroll{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.isotope{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.emoji.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery-easing.js"></script>
    <script src="{{ STATIC_URL }}js/libs/history/jquery.history.js"></script>
    <!--<script src="{{ STATIC_URL }}js/libs/jquery.colorbox{% if IS_PROD %}.min{% endif %}.js"></script>-->
    <script src="{{ STATIC_URL }}js/libs/jquery.fancybox{% if IS_PROD %}.pack{% endif %}.js?v=2.0.6"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.mousewheel.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.jscrollpane{% if IS_PROD %}.min{% endif %}.js"></script>
    
    <!-- Social sharing plugins -->
    <script src="//platform.twitter.com/widgets.js"></script>
    <script src="//connect.facebook.net/en_US/all.js"></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    
    <script src="{{ STATIC_URL }}js/social_sharing.js"></script>
    
    <!-- Misc library dependencies -->
    <script src="{{ STATIC_URL }}js/libs/moment{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/handlebars.js"></script>
    
    <!-- Stamped scripts -->
    <script src="{{ STATIC_URL }}js/client.js"></script>
    <script src="{{ STATIC_URL }}js/profile.js"></script>
    
    {% ssi STAMPED_TEMPLATE_FILE %}
{% endblock scripts %}

