{% extends "base2.html" %}
{% load stamped_tags %}

<!-- 
    NOTE: this is a workaround because the built-in ssi tag doesn't support 
    context variables as arguments. We use ssi to include other html files 
    which contain non-django templates that the django templating system 
    should not attempt to parse. Note that we would use the built-in include 
    tag if we wanted to parse an external template before inclusion.
-->
{% load ssi from future %}

{% block head %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sdetail.css">
    <!--<link rel="stylesheet" href="{{ STATIC_URL }}css/libs/colorbox.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/libs/jquery.fancybox.css?v=2.0.6">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/libs/jquery.jscrollpane.css">
    
    <style>
        {% custom_css "profile" %}
    </style>
{% endblock head %}

{% block main %}
    {{ block.super }}
    
    {% block profile-header %}
    <div class="profile-header-wrapper">
        <div class="profile-header">
            <div class="profile-content-page">
                
                {% with share_widget_desc="Share this collection" %}
                    
                    <!-- DEFAULT HEADER -->
                    <div class="profile-header-body header-category-default">
                        <!--<div class="blur_3 header-blur" style="background: url(http://static.stamped.com/collages/collage-{{user.screen_name}}-default-1024x256.jpg) no-repeat; background-size: 100% 100%;"></div>-->
                        <div class="header-overlay"></div>
                        
                        <div class="profile-header-body-fixedwidth fixedwidth clearfix">
                            <div class="profile-image-column">
                                {% handlebars_template "profile-image-large" user %}
                                
                                <a class="follow-button"></a>
                            </div>
                            
                            <div class="lhs">
                                <p class='profile-title'>
                                    {{user.name}}
                                </p>
                                
                                <p>
                                    <a class='screen-name' href="/{{user.screen_name}}">{{user.screen_name}}</a>{% if user.location %} / {{user.location}}{% endif %}
                                </p>
                            </div>
                            
                            <div class="rhs">
                                {% handlebars_template "share-widget" %}
                                
                                <div class="subnav">
                                    <div class="subnav_button subnav_button0"></div>
                                    <div class="subnav_button subnav_button1"></div>
                                    <div class="subnav_button subnav_button2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- PLACE HEADER -->
                    <div class="profile-header-body header-category-place">
                        <div class="blur_3 header-blur" style="background: url(http://static.stamped.com/collages/collage-{{user.screen_name}}-place-640x256.jpg) no-repeat; background-size: 100% 100%;"></div>
                        <div class="header-overlay"></div>
                        
                        <div class="profile-header-body-fixedwidth fixedwidth clearfix">
                            
                            <div class="profile-image-column">
                                {% handlebars_template "profile-image-large" user %}
                                
                                <a class="follow-button"></a>
                            </div>

                            
                            <div class="lhs">
                                <p class='name'>{{user.screen_name}}'s</p>
                                <p class='title'>Place Stamps</p>
                            </div>
                            
                            <div class="rhs">
                                {% handlebars_template "share-widget" %}
                            </div>
                        </div>
                    </div>
                    
                    <!-- MUSIC HEADER -->
                    <div class="profile-header-body header-category-music">
                        <div class="blur_3 header-blur" style="background: url(http://static.stamped.com/collages/collage-{{user.screen_name}}-music-1024x256.jpg) no-repeat; background-size: 100% 100%;"></div>
                        <div class="header-overlay"></div>
                        
                        <div class="profile-header-body-fixedwidth fixedwidth clearfix">
                            
                            <div class="profile-image-column">
                                {% handlebars_template "profile-image-large" user %}
                                
                                <a class="follow-button"></a>
                            </div>
                            
                            <div class="lhs">
                                <p class='name'>{{user.screen_name}}'s</p>
                                <p class='title'>Music Stamps</p>
                            </div>
                            
                            <div class="rhs">
                                {% handlebars_template "share-widget" %}
                            </div>
                        </div>
                    </div>
                    
                    <!-- BOOK HEADER -->
                    <div class="profile-header-body header-category-book">
                        <div class="blur_3 header-blur" style="background: url(http://static.stamped.com/collages/collage-{{user.screen_name}}-book-1024x256.jpg) no-repeat; background-size: 100% 100%;"></div>
                        <div class="header-overlay"></div>
                        
                        <div class="profile-header-body-fixedwidth fixedwidth clearfix">
                            
                            <div class="profile-image-column">
                                {% handlebars_template "profile-image-large" user %}
                                
                                <a class="follow-button"></a>
                            </div>
                            
                            <div class="lhs">
                                <p class='name'>{{user.screen_name}}'s</p>
                                <p class='title'>Book Stamps</p>
                            </div>
                            
                            <div class="rhs">
                                {% handlebars_template "share-widget" %}
                            </div>
                        </div>
                    </div>
                    
                    <!-- FILM & TV HEADER -->
                    <div class="profile-header-body header-category-film">
                        <div class="blur_3 header-blur" style="background: url(http://static.stamped.com/collages/collage-{{user.screen_name}}-film-1024x256.jpg) no-repeat; background-size: 100% 100%;"></div>
                        <div class="header-overlay"></div>
                        
                        <div class="profile-header-body-fixedwidth fixedwidth clearfix">
                            
                            <div class="profile-image-column">
                                {% handlebars_template "profile-image-large" user %}
                                
                                <a class="follow-button"></a>
                            </div>
                            
                            <div class="lhs">
                                <p class='name'>{{user.screen_name}}'s</p>
                                <p class='title'>Film &amp; TV Stamps</p>
                            </div>
                            
                            <div class="rhs">
                                {% handlebars_template "share-widget" %}
                            </div>
                        </div>
                    </div>
                    
                    <!-- OTHER HEADER -->
                    <div class="profile-header-body header-category-app">
                        <div class="blur_3 header-blur" style="background: url(http://static.stamped.com/collages/collage-{{user.screen_name}}-app-1024x256.jpg) no-repeat; background-size: 100% 100%;"></div>
                        <div class="header-overlay"></div>
                        
                        <div class="profile-header-body-fixedwidth fixedwidth clearfix">
                            
                            <div class="profile-image-column">
                                {% handlebars_template "profile-image-large" user %}
                                
                                <a class="follow-button"></a>
                            </div>
                            
                            <div class="lhs">
                                <p class='name'>{{user.screen_name}}'s</p>
                                <p class='title'>App Stamps</p>
                            </div>
                            
                            <div class="rhs">
                                {% handlebars_template "share-widget" %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="profile-header-post">
                        <div class="user-gradient">
                            <div class="ribbon-bottom"></div>
                        </div>
                        
                        <div class="inset-stamp">
                            <div class="stamp-count user-primary stamp-count-default">
                                {{user.num_stamps}}
                            </div>
                            
                            {% for distro in user.distribution %}
                                <div class="stamp-count user-primary stamp-count-{{distro.category}}">
                                    {{distro.count}}
                                </div>
                            {% endfor %}
                            
                            <p>STAMPS</p>
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>
    </div>
    {% endblock profile-header %}
    
    {% block stamp_category_nav_bar %}
    <nav id="stamp-category-nav-bar" style="display: block;">
        <div class='stamp-category-nav-bar-pre'></div>
        
        <ol>
            <li class="default">
                <a class="replaced" href="/{{user.screen_name}}">
                    <div class='desc'>All Stamps</div>
                    <div class='desc-overlay'></div>
                    <div class='selection'></div>
                    <div class='icon'></div>
                </a>
            </li>
            <li class="place">
                <a class="replaced" href="/{{user.screen_name}}?category=place">
                    <div class='desc'>Places</div>
                    <div class='desc-overlay'></div>
                    <div class='selection'></div>
                    <div class='icon'></div>
                </a>
            </li>
            <li class="music">
                <a class="replaced" href="/{{user.screen_name}}?category=music">
                    <div class='desc'>Music</div>
                    <div class='desc-overlay'></div>
                    <div class='selection'></div>
                    <div class='icon'></div>
                </a>
            </li>
            <li class="book">
                <a class="replaced" href="/{{user.screen_name}}?category=book">
                    <div class='desc'>Books</div>
                    <div class='desc-overlay'></div>
                    <div class='selection'></div>
                    <div class='icon'></div>
                </a>
            </li>
            <li class="film">
                <a class="replaced" href="/{{user.screen_name}}?category=film">
                    <div class='desc'>Film & TV</div>
                    <div class='desc-overlay'></div>
                    <div class='selection'></div>
                    <div class='icon'></div>
                </a>
            </li>
            <li class="app">
                <a class="replaced" href="/{{user.screen_name}}?subcategory=app">
                    <div class='desc'>Apps</div>
                    <div class='desc-overlay'></div>
                    <div class='selection'></div>
                    <div class='icon'></div>
                </a>
            </li>
        </ol>
        
        <div class='stamp-category-nav-bar-post'></div>
    </nav>
    {% endblock stamp_category_nav_bar %}
    
    {% block pre_profile_main_content %}
    <div id="main-content" class="fixedwidth">
        {% endblock pre_profile_main_content %}
        
        {% block profile_main_content %}
            {% handlebars_template "stamp-gallery" %}
        {% endblock profile_main_content %}
        
        {% block post_profile_main_content %}
    </div>
    {% endblock post_profile_main_content %}
{% endblock main %}

{% block scripts %}
    {{ block.super }}
     
     <!-- jQuery plugins -->
    <script src="{{ STATIC_URL }}js/libs/jquery.infinitescroll{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.isotope{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.emoji.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery-easing.js"></script>
    <script src="{{ STATIC_URL }}js/libs/history/jquery.history.js"></script>
    <!--<script src="{{ STATIC_URL }}js/libs/jquery.colorbox{% if IS_PROD %}.min{% endif %}.js"></script>-->
    <script src="{{ STATIC_URL }}js/libs/jquery.fancybox{% if IS_PROD %}.pack{% endif %}.js?v=2.0.6"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.mousewheel.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.jscrollpane{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.hotkeys{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/glfx.js"></script>
    
    <!-- Social sharing plugins -->
    <script src="//platform.twitter.com/widgets.js"></script>
    <script src="//connect.facebook.net/en_US/all.js"></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    
    <script src="{{ STATIC_URL }}js/social_sharing.js"></script>
    
    <!-- Misc library dependencies -->
    <script src="{{ STATIC_URL }}js/libs/moment{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/handlebars.js"></script>
    
    <!-- Stamped scripts -->
    <script src="{{ STATIC_URL }}js/client.js"></script>
    <script src="{{ STATIC_URL }}js/profile.js"></script>
    
    {% ssi STAMPED_TEMPLATE_FILE %}
{% endblock scripts %}

