{% load stamped_tags %}

<div class="sdetail_body fixedwidth clearfix">
    <div class="section section-stamp">
        <div class="stamp-category-{{stamp.entity.category}}">
            <div class="stamp-card">
                <div class="stamp-card-pre">
                    <div class="ribbon-bottom"></div>
                </div>
                
                <div class="stamp-contents">
                    <div class="stamp-contents-upper{% if stamp.previews.comments|length > 0 %} shadowed{% endif %}">
                        <div class="user-header user-header-0 clearfix">
                            <div class="name">
                                {% handlebars_template "screen-name" stamp.user %}
                            </div>
                            
                            {% if stamp.modified %}
                                <div class="timestamp_raw">{{stamp.modified}}</div>
                            {% endif %}
                        </div>
                        
                        <div class="stamp-inner-content clearfix">
                            <div class="stamp-card-header clearfix">
                                {% handlebars_template "profile-image-large-ish" stamp.user %}
                                
                                <div class="entity-header">
                                    <div class="title clearfix">
                                        <div class="pronounced-title">
                                            <a href="{{stamp.url}}" title="{{stamp.entity.title}}">{{stamp.entity.title}}</a>
                                        </div>
                                        <span class="user-logo-small"></span>
                                    </div>
                                    
                                    <div class="subtitle-line">
                                        <p>
                                            <span class="icon"></span>
                                            <span class="subtitle">{{stamp.entity.subtitle}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            {% if stamp.contents.0.images.0.sizes.0.url %}
                                {% handlebars_template "stamp-card-image" stamp %}
                            {% endif %}
                            
                            {% for content in stamp.contents %}
                                {% if content.blurb and content.blurb|length > 0 %}
                                    <p class="normal_blurb">{{content.blurb}}</p>
                                {% endif %}
                            {% endfor %}
                            
                            {% handlebars_template "social-feedback" stamp %}
                        </div>
                        
                        {% with credits=stamp.previews.credits %}
                            {% if credits and credits|length > 0 %}
                                <p class="credits">
                                    <img class="stamp_0" src="http://static.stamped.com/logos/{{ stamp.user.color_primary }}-{{ stamp.user.color_secondary }}-credit-18x18.png" /><img class="stamp_1" src="http://static.stamped.com/logos/{{ credits.0.user.color_primary }}-{{ credits.0.user.color_secondary }}-credit-18x18.png" />
                                    
                                    Credit to 
                                    {% handlebars_template "screen-name" credits.0.user %}
                                    
                                    {% if credits|length > 1 %}
                                        and 
                                        {% if credits|length == 2 %}
                                            {% handlebars_template "screen-name" credits.1.user %}
                                        {% else %}
                                            {{ credits|length }} others
                                            
                                            <span class="credits-detail">
                                                {% for credit in credits %}
                                                    {% handlebars_template "screen-name" credit.user %}
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endwith %}
                    </div>
                    
                    {% with comments=stamp.previews.comments %}
                        {% if comments and comments|length > 0 %}
                            <div class="comments collapsed">
                                {% if comments|length > 3 %}
                                    <div class="comments-nav">
                                        <a class="show" href="#">View all {{comments|length}} comments.</a>
                                        <a class="hide" href="#">Collapse comments.</a>
                                    </div>
                                {% endif %}
                                
                                <ol class="comment-list">
                                    {% for comment in comments reversed %}
                                        <li class="comment clearfix">
                                            {% handlebars_template "profile-image-small" comment.user %}
                                            
                                            <div class="comment-inner">
                                                <p class="test0">
                                                    <span class="name">
                                                        {% handlebars_template "screen-name" comment.user %}
                                                    </span>
                                                    
                                                    {% if comment.created %}
                                                        <span class="timestamp_raw">{{comment.created}}</span>
                                                    {% endif %}
                                                </p>
                                                
                                                {% if comment.blurb %}
                                                    <p class="normal_blurb">{{comment.blurb}}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                
                <div class="stamp-card-post">
                    <div class="ribbon-top"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section section-entity entity-id entity-id-{{stamp.entity.entity_id}}">
        <div class="close-button">
            <a href="#">Close</a>
        </div>
        
        {% handlebars_template "stamp-image" stamp %}
        
        <div class='entity-data'>
            <div class='entity-data-header'>
                <p class='entity-title'>
                    {{entity.title}}
                </p>
                
                <p class='entity-caption'>
                    {{entity.caption}}
                </p>
            </div>
            
            <div class="entity-actions">
                {% for a in entity.actions %}
                    {% with action=a.action %}
                        <a class='action-link' href="#">
                            <div class="action action-{{action.type}} clearfix">
                                <div class='entity-title' style="display: none;">
                                    {{stamp.entity.title}}
                                </div>
                                
                                <div class='lhs'>
                                    {% if a.icon %}
                                        <img class='action-icon' src="{{a.icon}}" />
                                    {% endif %}
                                    
                                    {{a.name}}
                                </div>
                                
                                {% if action.sources.0 %}
                                    <div class="rhs">
                                        {% for source in action.sources %}
                                            <div class="source source-{{source.source}}">
                                                {% if source.icon %}
                                                    <img class="source-icon" src="{{source.icon}}" alt="{% if source.name %}{{source.name}}{% else %}{{action.name}}{% endif %}"
        />
                                                {% endif %}
                                                
                                                {% if source.link %}
                                                    <div class="link" title="{% if source.name %}{{source.name}}{% else %}{{action.name}}{% endif %}" href="{{source.link}}" style="display: none;"></div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    {% endwith %}
                {% endfor %}
            </div>
            
            <div class='entity-metadata'>
                {% for item in entity.metadata %}
                    <div class='metadata-item clearfix'>
                        <div class='key'>
                            {{item.name}}
                        </div>
                        
                        <div class='value'>
                            {% if item.action and item.action.type == 'link' %}
                                <a href="{{item.action.sources.0.link}}">
                            {% endif %}
                            
                            {% if item.icon %}
                                <img src="{{item.icon}}" alt="{{item.value}}" />
                            {% endif %}
                            
                            {{item.value}}
                            
                            {% if item.action and item.action.type == 'link' %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="section section-social">
        {% handlebars_template "social-sharing" %}
    </div>
</div>

