{% extends "about.html" %}
{% load stamped_tags %}

<!-- Javascript Dependencies => assets/generated/js/settings.generated.js
     - - - - - - - - - - - - - - - - - - - - - - - -
    
    Core stamped dependencies:
        script: settings.js
-->

<!-- CSS Dependencies => assets/generated/css/settings.generated.css
     - - - - - - - - - - - - - - - - - - - - -
    
    Third-party library dependencies:
    
    Core stamped dependencies:
        stylesheet: settings.css
-->

{% block styles %}
    {{ block.super }}
    
    {% if STAMPED_DEBUG %}
        <link rel="stylesheet" href="{{ STAMPED_STATIC_URL }}css/settings.css">
    {% else %}
        <link rel="stylesheet" href="{{ STAMPED_STATIC_URL }}css/settings.generated.{{ STAMPED_ASSET_VERSION }}.css">
    {% endif %}
{% endblock styles %}

{% block pane-body %}
    <p class="title">Notification Settings</p>
    
    <div id="views" class="active-view-default">
        <div class="view view-default">
            <p class="desc">We like to keep you posted on what's happening on Stamped, but feel free to adjust when and how often we should contact you.</p>
            
            <div class="clearfix">
                <div class="header">
                    <div class="option-icon option-email-icon"></div>
                    <div class="option-icon option-phone-icon"></div>
                </div>
            </div>
            
            <form class="alert-settings-form clearfix">
                {% for option in settings %}
                    <div class="option clearfix option-{{option.name}}">
                        <div class="lhs clearfix">
                            <div class="option-icon"></div>
                            
                            <div class="option-info">
                                <div class="human-name">{{option.human_name}}</div>
                                <div class="option-desc">{{option.desc}}</div>
                            </div>
                        </div>
                        
                        <div class="rhs">
                            <input type="checkbox" name="alerts_{{option.name}}_apns" class="setting apns" {% if option.enabled_apns %} checked="checked" {% endif %}></input>
                            <input type="checkbox" name="alerts_{{option.name}}_email" class="setting email" {% if option.enabled_email %} checked="checked" {% endif %}></input>
                        </div>
                    </div>
                {% endfor %}
                
                <div class="button-wrapper">
                    <button type="submit" class="save-button" action="/settings/" method="POST"></button>
                    <div id="status">Changes saved!</div>
                </div>
            </form>
        </div>
    </div>
{% endblock pane-body %}

{% block post-main %}
    <div class="made-in-nyc-logo"></div>
{% endblock post-main %}

{% block scripts %}
    {{ block.super }}
    
    {% if STAMPED_DEBUG %}
        <script src="{{ STAMPED_STATIC_URL }}js/settings.js"></script>
    {% else %}
        <script src="{{ STAMPED_STATIC_URL }}js/settings.generated.{{ STAMPED_ASSET_VERSION }}.js"></script>
    {% endif %}
{% endblock scripts %}

