{% extends "base.html" %}
{% load stamped_tags %}
{% load ssi from future %}

{% block head %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{{ STAMPED_STATIC_URL }}css/test.css">
    
<script type="text/javascript" src="{{ STAMPED_STATIC_URL}}js/libs/processing-1.3.6.js"></script>
{% endblock head %}

{% block main %}
    {{ block.super }}
    
    <div id="main-content" class="fixedwidth">
        
        <br />
        <br />
        <br />
        <br />
        <br />
        
     </head>
     <body>
       <canvas id="gravity" data-processing-sources="{{STAMPED_STATIC_URL}}pde/gravity2.pde"></canvas>
       
        <!--
        <div id="collage">
            <img crossOrigin="anonymous" id="collage_img" src="http://static.stamped.com/collages/collage-travis-music-940x256.jpg" width="940" height="256" />
        </div>
        -->
        
        <p>
            TEST1
            
            {% with coordinates="40.714728,-73.998672" %}
                {% handlebars_template "static-map-small" %}
            {% endwith %}
        </p>
    </div>
{% endblock main %}

{% block scripts %}
    {{ block.super }}
     
     <!-- jQuery plugins -->
    <script src="{{ STAMPED_STATIC_URL }}js/libs/jquery.infinitescroll{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STAMPED_STATIC_URL }}js/libs/jquery.isotope{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STAMPED_STATIC_URL }}js/libs/jquery-easing.js"></script>
    
    <script src="{{ STAMPED_STATIC_URL }}js/test.js"></script>
    
    {% ssi STAMPED_TEMPLATE_FILE %}
{% endblock scripts %}

