{% extends "base2.html" %}
{% load stamped_tags %}
{% load ssi from future %}

{% block main %}
    {{ block.super }}
    
    <div id="main-content" class="fixedwidth">
        TEST1
        
        {% with coordinates=40.714728,-73.998672 %}
            {% handlebars_template "static-map-small" %}
        {% endwith %}
        
        <!--
        <div class="static-map-small">
            <div class="static-map-inner">
                <div class="r0"></div>
                <div class="r1"><div class='dark-layer'></div></div>
                <div class="r2"></div>
                <div class="r3"><div class='dark-layer'></div></div>
            </div>
        </div>-->
    </div>
{% endblock main %}

{% block scripts %}
    {{ block.super }}
     
     <!-- jQuery plugins -->
    <script src="{{ STATIC_URL }}js/libs/jquery.infinitescroll{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.isotope{% if IS_PROD %}.min{% endif %}.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.emoji.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery-easing.js"></script>
    
    <script src="{{ STATIC_URL }}js/libs/mustache.js"></script>
    <script src="{{ STATIC_URL }}js/client.js"></script>
    
    {% ssi STAMPED_TEMPLATE_FILE %}
{% endblock scripts %}

