{% extends "base.html" %}
{% load stamped_tags %}
{% load ssi from future %}

{% block head %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{{ STAMPED_STATIC_URL }}css/test.css">
{% endblock head %}

{% block main %}
    {{ block.super }}
    
    <div id="main-content" class="fixedwidth">
        
        <br />
        <br />
        <br />
        <br />
        <br />
        
     </head>
     <body>
       <canvas id="tenebrous" data-processing-sources="{{STAMPED_STATIC_URL}}pde/intersection/intersection.pde"></canvas>
       
        <!--
        <div id="collage">
            <img crossOrigin="anonymous" id="collage_img" src="http://static.stamped.com/collages/collage-travis-music-940x256.jpg" width="940" height="256" />
        </div>
        -->
    </div>
{% endblock main %}

{% block scripts %}
    {{ block.super }}
     
    <script type="text/javascript" src="/assets/js/libs/processing-1.4.0.js"></script>
    <script src="{{ STAMPED_STATIC_URL }}js/test.js"></script>
    
    {% ssi STAMPED_TEMPLATE_FILE %}
{% endblock scripts %}

