<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>About Us | Stamped</title>
        
        <meta name="description" content="Put your stamp of approval on the world."> 
        <meta name="author" content="Stamped, Inc."> 
        <meta name="copyright" content="Stamped, Inc."> 
        <meta name="robots" content="index,follow"> 
                
        <!-- Style -->
        <link rel="stylesheet" href="http://static.stamped.com/assets/css/normalize.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://static.stamped.com/assets/css/screen.css" type="text/css" media="screen" />
        <link rel="shortcut icon" href="http://static.stamped.com/assets/img/favicon.ico"/>
        <link rel="apple-touch-icon" href="http://static.stamped.com/assets/img/apple-touch-icon.png"/>

        <!-- Magic -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="http://static.stamped.com/assets/js/magic.js"></script>
    </head>
    <body>
        <div id="page" class="flood">
            <div class="wrap">
            <div class="sheet">
                <div class="top-wave"></div>
                <a href="/" class="brand replaced">Stamped</a>
                <div class="inner">
                <div class="mission replaced">
                    <p>Our mission is to build a platform for friends to help each other discover the best parts of their world.</p>
                </div>
                <div class="team">
                    <h3 class="divide">The team</h3>
                    <ul>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-robby.png"/>
                            </div>
                            <div class="copy">
                                <div class="person robby">
                                    <span class="name">Robby Stein</span>
                                    <span class="title">CEO &amp; Co-Founder</span>
                                </div>
                                <div class="history">
                                    <p>Robby worked at Google for 4 years, on Gmail launches and most recently as Product Manager for the Ad Exchange. He built the first Stamped prototype in his tiny NYC apartment. He graduated from Northwestern and is not Bart's brother.</p>
                                    <a class="follow" href="http://twitter.com/rmstein">Follow @rmstein</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-kevin.png"/>
                            </div>
                            <div class="copy">
                                <div class="person kevin">
                                    <span class="name">Kevin Palms</span>
                                    <span class="title">Co-Founder, Technology</span>
                                </div>
                                <div class="history">
                                    <p>Kevin previously led development of risk analytics technology at a hedge fund in New York. He and Robby also built a social calendar app together at Northwestern; a movie about it, called "The Social Calendar," has not yet been made.</p>
                                    <a class="follow" href="http://twitter.com/kevinpalms">Follow @kevinpalms</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-bart.png"/>
                            </div>
                            <div class="copy">
                                <div class="person bart">
                                    <span class="name">Bart Stein</span>
                                    <span class="title">Co-Founder, Marketing &amp; Partnerships</span>
                                </div>
                                <div class="history">
                                    <p>Bart previously worked at Google Creative Lab, where he contributed to Google's first Super Bowl campaign. He also worked for David Pogue, the NY Times tech columnist. He graduated from Brown and is not Robby's brother.</p>
                                    <a class="follow" href="http://twitter.com/bartjstein">Follow @bartjstein</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-ed.png"/>
                            </div>
                            <div class="copy">
                                <div class="person ed">
                                    <span class="name">Ed Kim</span>
                                    <span class="title">Lead Product Designer</span>
                                </div>
                                <div class="history">
                                    <p>Ed worked most recently at Google as a designer. He has a decade of experience in UX and interactive design, including stints at Apple and R/GA. He graduated from the University of Pennsylvania and did not want us to plug his <a href="http://weartoday.tumblr.com">blog</a>.</p>
                                    <a class="follow" href="http://twitter.com/edmuki">Follow @edmuki</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-travis.png"/>
                            </div>
                            <div class="copy">
                                <div class="person travis">
                                    <span class="name">Travis Fischer</span>
                                    <span class="title">Lead Software Engineer</span>
                                </div>
                                <div class="history">
                                    <p>Travis previously worked at Microsoft on a next-generation OS incubation team. He also worked for Pixar on the film <span class="italics">Up</span>. He graduated from Brown with a B.S. in Computer Science and Math, and rarely eats anything other than Subway.</p>
                                    <a class="follow" href="http://twitter.com/fisch0920">Follow @fisch0920</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-bons.png"/>
                            </div>
                            <div class="copy">
                                <div class="person bons">
                                    <span class="name">Andrew Bonventre</span>
                                    <span class="title">Software Engineer, Mobile Lead</span>
                                </div>
                                <div class="history">
                                    <p>Andy worked at Google for 5 years, where he created Google Forms and helped build Google Chrome for Mac. He graduated from Tufts with a B.S. and M.S. in Computer Science. He's tweeted 3,542 more times than Travis.</p>
                                    <a class="follow" href="http://twitter.com/andybons">Follow @andybons</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="http://static.stamped.com/assets/img/headshot-jake.png"/>
                            </div>
                            <div class="copy">
                                <div class="person jake">
                                    <span class="name">Jake Zien</span>
                                    <span class="title">Product Designer</span>
                                </div>
                                <div class="history">
                                    <p>Jake graduated from Rhode Island School of Design and completed a minor in Computer Science at Brown. You can find a big portrait of him at Bed, Bath &amp; Beyond, featuring the <a href="http://www.quirky.com/products/44-product-0044?r=3bef260716ecfa5e89ec186c322f5476">power strip he invented</a>. Besides that, this is his first job.</p>
                                    <a class="follow" href="http://twitter.com/hova414">Follow @hova414</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                
                </div> <!-- /team -->
                <div class="investor-contact">
                    <h3 class="divide">Our investors</h3>
                    <a href="http://baincapitalventures.com" class="bain-ventures replaced">Bain Capital Ventures</a>
                    <a href="http://googleventures.com" class="google-ventures replaced">Google Ventures</a>
                    
                    <h3 class="divide">Contact us</h3>
                    <span class="name line">Stamped, Inc</span>
                    <span class="street line">215 Park Ave. South #1802</span>
                    <span class="city-state line">New York, NY 10003</span>
                    <p><a href="mailto:press@stamped.com">press@stamped.com</a></p>
                    <p><a class="follow-us replaced" href="http://twitter.com/stampedapp">Follow us on twitter</a></p>
                </div>
                </div>
                <div class="bottom-wave"></div>
            </div> <!-- /sheet -->    
            <div class="more">
                <a href="/about">About Us</a>
                <a href="/faq">FAQ</a>
                <a href="http://help.stamped.com">Help</a>
                <a href="http://blog.stamped.com">Blog</a>
                <a href="/terms-of-service">Terms of Service</a>
                <a href="/privacy">Privacy Policy</a>
                <span class="copyright">&copy;2011 Stamped Inc.</span>
            </div> 
            </div>
        </div> <!-- /page -->
        <script type="text/javascript">
            stamped.init();
        </script>
    </body>
    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-24470954-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</html>
