                    {{!
                    <span class="blurb-references">
                    {{#blurb-references}}
                        <span class="blurb-reference">
                            <span class="indices">
                                {{#indices}}
                                    <span class="index">
                                        {{.}}
                                    </span>
                                {{/indices}}
                                
                                {{! TODO: Action }}
                            <span class="/indices">
                        </span>
                    {{/blurb-references}}
                    </span>
                    }}

