
<div class='social-sharing'>
    <p class='share'>
        Share this stamp:
    </p>
    
    <div class='share-buttons clearfix'>
        <div class='share-button facebook'>
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
        </div>
        
        <div class='share-button twitter'>
            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="stamped">Tweet</a>
        </div>
        
        <div class='share-button google'>
            <g:plusone size="medium"></g:plusone>
        </div>
    </div>
</div>

