
<div class="stamp-gallery-item">
    <div class="content clearfix">
        <div class="profile-image-medium">
            <img alt="{{#if user.name}}{{user.name}} {{/if}}(@{{user.screen_name}})" src="{{user.image_url_72}}" />
        </div>
        
        <div class="inner-content">
            <div class="stamp-category-{{entity.category}}">
                <div class="pronounced-title"><a href="{{url}}">{{#entity}}{{title}}{{/entity}}</a><span class='user-logo-small'></span></div>
                
                <div class="subtitle-line">
                    <p>
                        <span class="icon"></span>
                        <span class="subtitle">{{entity.subtitle}}</span>
                    </p>
                </div>
                
                <div class="stamp-contents">
                    {{#contents}}
                    <div class="stamped-content">
                        <div>
                            {{#blurb}}<p class="blurb">{{.}}</p>{{/blurb}}
                        </div>
                    </div>
                    {{/contents}}
                </div>
                
                <div class="previews clearfix">
                        
                        <div class='like'></div>
                        <div class='count'>
                            {{#num_likes}}{{.}}{{/num_likes}}{{^num_likes}}0{{/num_likes}}
                        </div>
                        
                    
                        
                        <div class='todo'></div>
                        <div class='count'>
                            {{#num_todos}}{{.}}{{/num_todos}}{{^num_todos}}0{{/num_todos}}
                        </div>
                        
                    
                        
                        <div class='comments'></div>
                        <div class='count'>
                            {{#num_comments}}{{.}}{{/num_comments}}{{^num_comments}}0{{/num_comments}}
                        </div>
                        
                </div>
            </div>
        </div>
        
        <div class="rhs">
            {{#modified}}<div class="timestamp_raw">{{.}}</div>{{/modified}}
            
            <div class="stamp-preview">
                <div class='preview-image stamp-user-image'>
                    {{#contents}}
                        {{#images}}
                            {{#sizes}}
                                <img src="{{url}}" onerror="this.className='hidden'; if (typeof(window.g_update_stamps) !== 'undefined') { g_update_stamps(); }" />
                            {{/sizes}}
                        {{/images}}
                    {{/contents}}
                </div>
                
                {{#entity}}
                    <div class='preview-image stamp-entity-image'>
                        {{#images}}
                            {{#sizes}}
                                <img src="{{url}}" onerror="this.className='hidden'; if (typeof(window.g_update_stamps) !== 'undefined') { g_update_stamps(); }" />
                            {{/sizes}}
                        {{/images}}
                    </div>
                    
                    {{debug}}
                    
                    {{#if coordinates}}
                        <div class='preview-image stamp-map'>
                            {{> static-map-small}}
                        </div>
                    {{/if}}
                    
                    <div class="preview-image stamp-icon">
                        <div class="stamp-category-{{category}}">
                            <span class="icon">STANDIN</span>
                        </div>
                    </div>
                {{/entity}}
            </div>
        </div>
    </div>
</div>

