
<div class="stamp-gallery-item user-primary-selection">
    <div class="stamp-gallery-item-inner">
        <div class="content clearfix">
            
            <div class="content_0 clearfix">
                {{#user}}
                    {{> profile-image-medium }}
                {{/user}}
                
                <div class="entity-header">
                    <div class="stamp-category-{{entity.category}} stamp-subcategory-{{entity.subcategory}}">
                        <div class='title clearfloat'>
                            <div class="pronounced-title">
                                <a class='sdetail' href="{{url}}" data-title="{{entity.title}}" title="{{entity.title}}">{{entity.title}}</a>
                            </div>
                            <span class='user-logo-small'></span>
                        </div>
                        
                        <div class="subtitle-line">
                            <p>
                                <span class="icon"></span>
                                <span class="subtitle">{{entity.subtitle}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="content_2">
                {{#created}}<div class="timestamp_raw">{{.}}</div>{{/created}}
                
                {{> stamp-image}}
            </div>
            
            <div class="content_1">
                <div class="stamp-category-{{entity.category}} stamp-subcategory-{{entity.subcategory}}">
                    <div class="stamp-contents">
                        {{#contents}}
                        <div class="stamped-content">
                            {{#blurb}}<p class="blurb">{{.}}</p>{{/blurb}}
                        </div>
                        {{/contents}}
                    </div>
                    
                    {{>social-feedback}}
                </div>
            </div>
        </div>
    </div>
</div>

