
<div class="stamp-gallery wide-gallery">
    
    <div class='stamp-gallery-header clearfix'>
        <!--
        <div class='stamp-gallery-sort'>
            <a href="#" class='item selected sort-modified' title='Sort stamps by most recent'>
                Newest<span class='arrow'> &#x25BC</span>
            </a>
            
            <a href="#" class='item sort-popularity' title='Sort stamps by popularity'>
                Popular<span class='arrow'> &#x25BC</span>
            </a>
        </div>
        -->
        
        <div class='stamp-gallery-view-map'>
            <a class="map-profile-link" href="/{{user.screen_name}}/map"><div class='map-profile-icon-wrapper map-icon'><div class='map-profile-icon'><div class='inner-shadow'></div><div class='inner'></div></div></div><span class="desc"> View Map</span></a>
        </div>
    </div>
    
    <div class="bottom-wave"></div>
    <div class="loading"></div>
    
    <div class="stamps">
        {{#stamps}}
            {{> stamp-gallery-item}}
        {{/stamps}}
    </div>
    
    <div class="stamp-gallery-loading"></div>
    
    <div class="empty-stamps" {{^stamps}} style="display: block;" {{/stamps}} ></div> 
    
    <div class="stamp-gallery-nav">
        <ul>
            {{#prev_url}}
            <li>
                <a href="{{.}}">Prev</a>
            </li>
            {{/prev_url}}
            {{#next_url}}
            <li>
                <a href="{{.}}">Next</a>
            </li>
            {{/next_url}}
        </ul>
    </div>
</div>

