
<div class="stamp-preview">
    <div class='preview-image stamp-user-image'>
        {{#contents}}
            {{#images}}
                {{#sizes}}
                    <img src="{{url}}" onerror="this.className='hidden'; if (typeof(window.g_update_stamps) !== 'undefined') { g_update_stamps(); }" /><a class='lightbox' href="{{url}}"><div class='zoom'></div></a>
                {{/sizes}}
            {{/images}}
        {{/contents}}
    </div>
    
    {{#entity}}
        <div class='preview-image stamp-entity-image'>
            {{#images}}
                {{#sizes}}
                    <img src="{{url}}" onerror="this.className='hidden'; if (typeof(window.g_update_stamps) !== 'undefined') { g_update_stamps(); }" /><a class='lightbox' href="{{url}}"><div class='zoom'></div></a>
                {{/sizes}}
            {{/images}}
        </div>
        
        {{#if coordinates}}
            <div class='preview-image stamp-map'>
                {{> static-map-small}}
            </div>
        {{/if}}
        
        <div class="preview-image stamp-icon">
            <div class="stamp-category-{{category}}">
                <span class="icon">STANDIN</span>
            </div>
        </div>
    {{/entity}}
</div>

