
<div class="stamp-gallery-item">
    <div class="content clearfix">
        
        <div class="content_0 clearfix">
            <div class="profile-image-medium">
                <img alt="{{#if user.name}}{{user.name}} {{/if}}(@{{user.screen_name}})" src="{{user.image_url_72}}" />
            </div>
            
            <div class="entity-header">
                <div class="stamp-category-{{entity.category}}">
                    <div class='title clearfloat'>
                        <div class="pronounced-title">
                            <a href="{{url}}" title="{{entity.title}}">{{entity.title}}</a>
                        </div>
                        <span class='user-logo-small'></span>
                    </div>
                    
                    <div class="subtitle-line">
                        <p>
                            <span class="icon"></span>
                            <span class="subtitle">{{entity.subtitle}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="content_2">
            {{#modified}}<div class="timestamp_raw">{{.}}</div>{{/modified}}
            
            {{> stamp-image}}
        </div>
        
        <div class="content_1">
            <div class="stamp-category-{{entity.category}}">
                <div class="stamp-contents">
                    {{#contents}}
                    <div class="stamped-content">
                        {{#blurb}}<p class="blurb">{{.}}</p>{{/blurb}}
                    </div>
                    {{/contents}}
                </div>
                
                <div class="previews count_{{#num_likes}}{{.}}{{/num_likes}}{{^num_likes}}0{{/num_likes}}_{{#num_todos}}{{.}}{{/num_todos}}{{^num_todos}}0{{/num_todos}}_{{#num_comments}}{{.}}{{/num_comments}}{{^num_comments}}0{{/num_comments}}">
                    <div class='preview count_{{#num_likes}}{{.}}{{/num_likes}}{{^num_likes}}0{{/num_likes}}'>
                        <div class='like'></div>
                        <span class='count'>
                            {{#num_likes}}{{.}}{{/num_likes}}{{^num_likes}}0{{/num_likes}}
                        </span>
                    </div>
                    
                    <div class='preview count_{{#num_todos}}{{.}}{{/num_todos}}{{^num_todos}}0{{/num_todos}}'>
                        <div class='todo'></div>
                        <span class='count'>
                            {{#num_todos}}{{.}}{{/num_todos}}{{^num_todos}}0{{/num_todos}}
                        </span>
                    </div>
                    
                    <div class='preview count_{{#num_comments}}{{.}}{{/num_comments}}{{^num_comments}}0{{/num_comments}}'>
                        <div class='comments'></div>
                        <span class='count'>
                            {{#num_comments}}{{.}}{{/num_comments}}{{^num_comments}}0{{/num_comments}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

