
<div class="stamp-gallery-item">
    <div class="top-wave"></div>
    <div class="content clearfix">
        <div class="profile-image-medium">
            <img alt="{{#if user.name}}{{user.name}} {{/if}}(@{{user.screen_name}})" src="{{user.image_url_72}}" />
        </div>
        
        <div class="inner-content">
            <div class="stamp-category-{{entity.category}}">
                <div class="pronounced-title"><a href="{{url}}">{{#entity}}{{title}}{{/entity}}</a><span class='user-logo-small'></span></div>
                
                <div class="subtitle-line">
                    <p>
                        <span class="icon"></span>
                        <span class="subtitle">{{entity.subtitle}}</span>
                    </p>
                </div>
                
                {{#entity}}
                
                {{#if image}}
                <div class="stamp-image">
                    <img src="{{.}}" />
                </div>
                {{/if}}
                
                {{/entity}}
                
                <div class="stamp-contents">
                    {{#contents}}
                    <div class="stamped-content">
                        <div>
                            {{#blurb}}<p class="blurb">{{.}}</p>{{/blurb}}
                            
                            <div class="images">
                            {{#images}}
                                {{! TODO: here would be a perfect example of Handlebars relative 
                                    paths being handy; e.g., using entity.title as the alt text.
                                }}
                                {{#if image}}
                                <img src="{{image}}" {{#width}}width="{{.}}"{{/width}} {{#height}}height="{{.}}"{{/height}} {{#source}}alt="{{.}}"{{/source}} />
                                {{/if}}
                            {{/images}}
                            </div>
                        </div>
                    </div>
                    {{/contents}}
                </div>
                
                <div class="previews clearfix">
                    <div class='like'></div><div class='count'>{{#num_likes}}{{.}}{{/num_likes}}{{^num_likes}}0{{/num_likes}}</div>
                    <div class='todo'></div><div class='count'>{{#num_todos}}{{.}}{{/num_todos}}{{^num_todos}}0{{/num_todos}}</div>
                    <div class='comments'></div><div class='count'>{{#num_comments}}{{.}}{{/num_comments}}{{^num_comments}}0{{/num_comments}}</div>
                </div>
            </div>
        </div>
        
        {{#entity}}
        <div class="stamp-preview">
            {{#if coordinates}}
                {{> static-map-small}}
            {{/if}}
        </div>
        {{/entity}}
    </div>
    <div class="bottom-wave">&nbsp;</div>
</div>

