
<div class="static-map-small">
    <a class="zoom zoom-map" href="/{{user.screen_name}}/map?stamp_id={{stamp_id}}"></a>
    
    <div class="static-map-inner">
        <div class="r0" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center={{entity.coordinates}}&zoom=12&sensor=false&scale=1&format=png&maptype=roadmap&size=140x140&key=AIzaSyAEjlMEfxmlCBQeyw_82jjobQAFjYx-Las');"></div>
        
        <div class="r1" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center={{entity.coordinates}}&zoom=12&sensor=false&scale=1&format=png&maptype=roadmap&size=140x140&key=AIzaSyAEjlMEfxmlCBQeyw_82jjobQAFjYx-Las');"><div class='dark-layer'></div></div>
        
        <div class="r2" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center={{entity.coordinates}}&zoom=12&sensor=false&scale=1&format=png&maptype=roadmap&size=140x140&key=AIzaSyAEjlMEfxmlCBQeyw_82jjobQAFjYx-Las');"></div>
        
        <div class="r3" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center={{entity.coordinates}}&zoom=12&sensor=false&scale=1&format=png&maptype=roadmap&size=140x140&key=AIzaSyAEjlMEfxmlCBQeyw_82jjobQAFjYx-Las');"><div class='dark-layer'></div></div>
        
        <div class='pin'><div class='pin-inner'></div></div>
    </div>
</div>

