/* GLOBAL */
body, html{
width:100%;
height:100%;
}

body{
background:url(http://static.stamped.com/assets/img/main-noise.png) left top repeat;
font-family:'arial',sans-serif;
color:#666;
font-size:16px;
}

a, a:visited{
color:#3366cc;
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

/* COMMON CLASSES */
.flood{
background:url(http://static.stamped.com/assets/img/noisegradient.png) center top no-repeat;
}

.replaced{
display:block;
text-indent:-9999em;
overflow:hidden;
}

.wrap{
width:940px;
margin:0 auto;
background:url(http://static.stamped.com/assets/img/noisegradient.png) center top no-repeat;
height:100%;
position:relative;
}

.user{
font-weight:bold;
}

/* SIGNUP FORM */
.signup form{
position:relative;
width:450px;
height:77px;
background:url(http://static.stamped.com/assets/img/textinput-sprite.png) left top no-repeat;
}

.signup p{
margin-bottom:5px;
margin-left:8px;
}

.signup input{
width:340px;
height:40px;
border:0;
position:absolute;
left:30px;
top:15px;
*top:25px; /* IE7 */
color:#cccccc;
outline:none;
background:none;
-webkit-appearance: none;
-webkit-border-radius:0px;
}

.mobile-iphone .signup input{
top:12px;
}

.signup button{
background:url(http://static.stamped.com/assets/img/submitbutton-sprite.png) left top no-repeat;
width:57px;
height:44px;
border:0;
position:absolute;
right:14px;
top:12px;
}

.signup .active{
background-position:left -80px;
}

.signup .active input{
color:#666;
}

.validated button{
background-position:left -44px;
}

.validated input{
color:#666;
}

.thanks{
background:url(http://static.stamped.com/assets/img/whoa-thanks.png) left top no-repeat;
width:170px;
height:29px;
clear:both;
display:none;
}


/* THE CARD */
.card{
border-top:2px solid #fff;
border-bottom:2px solid #fff;
*background:#3366cc; /* IE7 */
*position:relative;
*top:-105px;
background:-webkit-gradient(linear, left top, right bottom, from(#3cf), to(#911));
background:-moz-gradient(linear, left top, right bottom, from(#3cf), to(#911));
background:-ms-gradient(linear, left top, right bottom, from(#3cf), to(#911));
background:-o-gradient(linear, left top, right bottom, from(#3cf), to(#911));
background:gradient(linear, left top, right bottom, from(#3cf), to(#911));
width:660px;
margin:112px auto 0;
-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.15);
-moz-box-shadow:0 5px 10px rgba(0,0,0,0.15);
-ms-box-shadow:0 5px 10px rgba(0,0,0,0.15);
-o-box-shadow:0 5px 10px rgba(0,0,0,0.15);
box-shadow:0 5px 10px rgba(0,0,0,0.15);
}

.card .inner{
background-color:#fff;
padding:20px 40px 30px;
overflow:hidden;
}

.card .top-wave{
background:url(http://static.stamped.com/assets/img/tweet_main_ribbon_top.png) left bottom no-repeat;
height:2px;
margin-top:5px;
}

.card .bottom-wave{
background:url(http://static.stamped.com/assets/img/tweet_main_ribbon_bot.png) left top no-repeat;
height:2px;
margin-bottom:5px;
}

.card .meta{
overflow:hidden;
}

.card .meta .thumb{
float:left;
background:url(http://static.stamped.com/assets/img/user-photo-frame.png) left top no-repeat;
width:106px;
height:106px;
}

.card .meta .copy{
float:left;
margin-left:15px;
}

.card .meta .thumb img{
margin:5px 7px;
}

.card .meta h1{
margin:0;
font-family: "TitlingGothicFB LightComp", 'Helvetica', arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size:72px;
padding:0 0 5px;
letter-spacing: 1px;
line-height:70px;
white-space:nowrap;
text-overflow: ellipsis;
width:450px;
overflow:hidden;
}

.card .meta .type{
color:#999;
float:left;
margin-top:6px;
font-size:14px;
width:430px;
overflow:hidden;
padding-left:28px;
}

.card .meta .food{
background:url(http://static.stamped.com/assets/img/entity-type-food.png) left top no-repeat;
padding-left: 28px;
}

.card .meta .film{
background:url(http://static.stamped.com/assets/img/entity-type-film.png) left top no-repeat;
padding-left: 22px;
}

.card .meta .book{
background:url(http://static.stamped.com/assets/img/entity-type-book.png) left top no-repeat;
padding-left: 26px;
}

.card .meta .music{
background:url(http://static.stamped.com/assets/img/entity-type-music.png) left top no-repeat;
padding-left: 22px;
}

.card .meta .other{
background:url(http://static.stamped.com/assets/img/entity-type-other.png) left top no-repeat;
padding-left: 19px;
}



.card .main{
clear:both;
margin-top:30px;
font-size:20px;
}

.card .main .author{
color:#999;
}

.card .main p{
margin:1px;
line-height:27px;
}

.card .main .photo{
-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.15);
-moz-box-shadow:0 5px 10px rgba(0,0,0,0.15);
-ms-box-shadow:0 5px 10px rgba(0,0,0,0.15);
-o-box-shadow:0 5px 10px rgba(0,0,0,0.15);
box-shadow:0 5px 10px rgba(0,0,0,0.15);
line-height:0;
margin-top:20px;
}

.card .credit{
float:left;
margin-top:30px;
font-size:14px;
color:#999;
line-height:20px;
padding-left: 36px;
}

.credit .stamp{
position: absolute;
width:20px;
height:20px;
}

.card .stamp-1 {
margin-left:-34px;
}

.card .stamp-2 {
margin-left:-24px;
}

.card .likes{
float:right;
margin-top:30px;
font-size:14px;
color:#999;
background:url(http://static.stamped.com/assets/img/likes-icon.png) left center no-repeat;
padding-left:25px;
line-height:20px;
}

/* HOME */
#home.public.wrap{
position:relative;
}

#home.public .brand{
margin:-180px auto 0;
float:none;
position: relative;
bottom:-197px;
}

#home.public .pitch{
height:35px;
background:url(http://static.stamped.com/assets/img/public-home/text-put-your-stamp-on-the-world.png) left top no-repeat;
width:611px;
margin:174px auto 14px;
}

#home.public .intro{
font-size:16px;
text-align:center;
line-height:29px;
}

#home.public .intro span{
display:block;
}

#home.public .intro a{
font-weight:bold;
}

#home.public .itunes{
width:247px;
height:84px;
background:url(http://static.stamped.com/assets/img/public-home/free-download-sprite.png) left top no-repeat;
margin:23px auto;
}

#home.public .itunes:hover{
background-position: left bottom;
}

#tool-tipper{
position:relative;
height:779px;
width:100%;
}


.tooltip{
position:absolute;
}

.tooltip .image-rest{
z-index:1;
}

.tooltip .text{
text-indent:-9999em;
overflow:hidden;
}

.tooltip .image-active{
display:none;
}

.tooltip .imager{
position:absolute;
left:0;
top:0;
}

.tooltip.tip-1{
width:275px;
height:165px;
top:124px;
left:0;
}

.tooltip.tip-2{
width:291px;
height:187px;
right:-16px;
top:186px;
}

.tooltip.tip-3{
width:275px;
height:148px;
top:418px;
left:0;
}



.tooltip .image-active{
z-index:3;
}

#home #iphone{
margin:0 auto;
width:435px;
height:774px;
position:relative;
overflow:hidden;
right:-10px;
z-index:2;
background:url(http://static.stamped.com/assets/img/public-home/iphone-background.png) left top no-repeat;
}

#home #iphone .screen{
position:absolute;
left:54px;
top:136px;
width:312px;
height:466px;
display:none;
}

#home #iphone .screen.active{
display:block;
}

#home .video-block{
text-align:center;
position:absolute;
right:16px;
bottom:101px;
}


#home .video-block .thumbnail{
display:block;
margin-bottom:15px;
width:218px;
height:117px;
background:url(http://static.stamped.com/assets/img/public-home/video-thumbnail-sprite.png) left top no-repeat;
}

#home .video-block:hover .thumbnail{
background-position:left bottom;

}

#home.public .card{
background:none;
padding:0;
background-color:#fff;
width:940px;
margin-top:45px;
border:0;
}

#home.public .card .inner{
clear:both;
padding:0 27px 25px;
}

#home.public .card .top-wave{
background:url(http://static.stamped.com/assets/img/main-topcap.png) left top no-repeat;
height:8px;
margin:0;
}

#home.public .card .bottom-wave{
background:url(http://static.stamped.com/assets/img/main-botcap.png) left top no-repeat;
height:8px;
margin:0;
}

#home.public .more{
position:static;
margin:30px 0;
padding-bottom:30px;
}

#home.public .more a{
margin-left:0;
margin-right:15px;
}

#home.public .more .copyright{
float:right;
}

#home.wrap{
position:relative;
}

#home .iphone{
height:750px;
background:url(http://static.stamped.com/assets/img/iphonebg.png) left -30px no-repeat;
padding-left:45px;
width:940px;
}

.smalldisplay #home .iphone{
margin-top:-60px;
position:relative;
}

.talldisplay #home .iphone{
position:absolute;
left:50%;
top:50%;
margin-left:-470px;
margin-top:-405px;
}

#home .brand{
background:url(http://static.stamped.com/assets/img/stamped-logo.png) left top no-repeat;
width:180px;
height:180px;
margin-top:80px;
margin-bottom:40px;
float:left;
}

#home .pitch{
background:url(http://static.stamped.com/assets/img/building-message.png) left top no-repeat;
width:544px;
height:96px;
clear:both;
margin-bottom:50px;
}

#home .thanks{
margin-top:90px;
margin-left:5px;
}

#home .more{
position:absolute;
left:0;
bottom:120px;
}

#press { 
width:820px; 
margin:0 auto 34px; 
}

#press h3 { 
border-bottom: 1px solid #e5e5e5; 
color:#9b9b9b; 
font-size:12px; 
padding:0 0 6px; 
}

#press ul { 
list-style-type: none; 
height:32px; 
padding:0; 
margin: 37px 0 0; 
}

#press ul + ul { 
margin-top: 39px; 
}

#press a { 
height:32px; 
background-position: left top; 
display:block; 
background-repeat:no-repeat; 
}

#press a.techcrunch { 
width:198px; 
background-image:url('http://static.stamped.com/assets/img/press-techcrunch-sprite.png'); 
float:left; 
}

#press a.wsj { 
width:279px; 
background-image:url('http://static.stamped.com/assets/img/press-wsj-sprite.png'); 
float:left; 
margin-left:75px; 
}

#press a.daringfireball { 
width:194px; 
background-image:url('http://static.stamped.com/assets/img/press-daringfireball-sprite.png'); 
float:right; 
}

#press a.mashable { 
width:130px; 
background-image:url('http://static.stamped.com/assets/img/press-mashable-sprite.png'); 
float:left; 
margin-left:166px; 
}

#press a.gigaom { 
width:157px; 
background-image:url('http://static.stamped.com/assets/img/press-gigaom-sprite.png'); 
float:right; 
margin-right:160px;
}

#press a:hover { 
background-position:left bottom;
}

/* ENTITY */
#entity .wrap{
background:none
}

#entity .thanks{
margin:0 auto;
background-position:center center;
height:83px;
}

#entity .header{
background:url(http://static.stamped.com/assets/img/tweet_header_ribbon_90pct_noShdw.png) left bottom repeat-x;
padding-bottom:8px;
position:relative;
z-index:10;
-webkit-box-shadow:0 0 7px rgba(0,0,0,0.1);
-moz-box-shadow:0 0 7px rgba(0,0,0,0.1);
-ms-box-shadow:0 0 7px rgba(0,0,0,0.1);
-o-box-shadow:0 0 7px rgba(0,0,0,0.1);
box-shadow:0 0 7px rgba(0,0,0,0.1);
*margin-top:-108px;
*margin-bottom:108px;
}

#entity .header .inner{
*background:#fff; /* IE7 */
background:rgba(255,255,255,0.9);
padding:10px 0 7px;
text-align:center;

position:relative;
z-index:10;
font-size:14px;
}

#entity .header .container{
position:relative;
width:940px;
margin:0 auto 10px;
}

#entity .header .signup{
margin:0 auto 20px;
text-align:left;
width:450px;
}

#entity .header .hide{
background:url(http://static.stamped.com/assets/img/hide-x.png) right center no-repeat;
padding-right:15px;
position:absolute;
right:0;
top:0;
font-size:11px;
}

#entity .header a{
font-weight:bold;
}

#entity .brand{
background:url(http://static.stamped.com/assets/img/sample-user-stamp.png) left top no-repeat;
width:200px;
height:200px;
position:absolute;
z-index:2;
left:0;
top:-150px;
}


#entity .available{
position:absolute;
right:140px;
top:-76px;
}


#entity .more{
padding:20px 0;
text-align:center;
}

/* PAGE */
#page{
padding-top:45px;
}

#page .mission{
background:url(http://static.stamped.com/assets/img/mission-statement.png) left top no-repeat;
wtidth:747px;
height:176px;
clear:both;
margin:30px 0;
}

#page .more{
margin-bottom:20px;
padding:10px 0;
}

#page .more .copyright{
float:right;
}

#page .more a{
margin-left:0;
margin-right:15px;
}

#page .sheet{
background:#fff;
width:940px;
position:relative;
margin:0 0 10px;
color:#666;
-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.15);
-moz-box-shadow:0 5px 10px rgba(0,0,0,0.15);
-ms-box-shadow:0 5px 10px rgba(0,0,0,0.15);
-o-box-shadow:0 5px 10px rgba(0,0,0,0.15);
box-shadow:0 5px 10px rgba(0,0,0,0.15);
}


/* FAQ */
.faq-title{
background:url(http://static.stamped.com/assets/img/text-frequently-asked-questions.png) left top no-repeat;
width:419px;
height:34px;
margin:30px auto;
}

.faq-map{
list-style:none;
margin:0;
padding:0;
font-weight:bold;
margin-bottom:25px;
}

.faq-map a{
padding:5px 0;
display:inline-block;
font-size:14px;
}

.question{
margin:50px 0;
width:86%;
}


.question h2{
font-size:18px;
padding-top:5px;
font-weight:bold;
color:#262626;
}

.question p{
color:#595959;
line-height:27px;
}


.sheet .top-wave{
background:url(http://static.stamped.com/assets/img/top-wave-plain.png) left top no-repeat;
height:9px;
}

.sheet .bottom-wave{
background:url(http://static.stamped.com/assets/img/bottom-wave-plain.png) left top no-repeat;
height:9px;
}

.sheet .brand{
background:url(http://static.stamped.com/assets/img/stamped-logo.png) left top no-repeat;
width:180px;
height:180px;
position:relative;
left:50%;
margin-left:-90px;
margin-top:-37px;
}

.sheet .inner{
padding:0 60px 28px;
overflow:hidden;
}

.sheet .divide{
text-transform: uppercase;
border-bottom:1px solid #e5e5e5;
font-size:12px;
color:#999;
padding-bottom:4px;
margin-bottom:20px;
}

.sheet .team{
float:left;
width:569px;
}

.sheet .team ul{
padding-left:0;
}

.sheet .team li{
list-style-type:none;
overflow:hidden;
margin-bottom:20px;
}

.team .thumb{
float:left;
margin-right:20px;
}

.team .copy{
margin-left:178px;
}

.team .person{
margin-top:5px;
padding:3px 0 3px 50px;
background:url(http://static.stamped.com/assets/img/stamp-robby.png) left top no-repeat;
min-height:42px;
}

.person.robby{
background:url(http://static.stamped.com/assets/img/stamp-robby.png) left top no-repeat;
}

.person.kevin{
background:url(http://static.stamped.com/assets/img/stamp-kevin.png) left top no-repeat;
}

.person.bart{
background:url(http://static.stamped.com/assets/img/stamp-bart.png) left top no-repeat;
}

.person.ed{
background:url(http://static.stamped.com/assets/img/stamp-ed.png) left top no-repeat;
}

.person.travis{
background:url(http://static.stamped.com/assets/img/stamp-travis.png) left top no-repeat;
}

.person.bons{
background:url(http://static.stamped.com/assets/img/stamp-bons.png) left top no-repeat;
}

.person.jake{
background:url(http://static.stamped.com/assets/img/stamp-jake.png) left top no-repeat;
}

.team .person .name{
font-weight:bold;
font-size:18px;
color:#333;
display:block;
}

.team .advisor .name {
font-weight:bold;
font-size:18px;
color:#333;
display:block;
}

.team .advisor {
padding-top: 20px;
}

.team .advisor .note {
font-size:12px;
margin-top: 20px;
}


.team .person .title{
font-size:14px;
color:#999;
display:block;
}

.team .history{
font-size:14px;
}

.team .history p{
margin:5px 0;
line-height:18px;
}

.team .follow{
background:url(http://static.stamped.com/assets/img/icon-twitter.png) left center no-repeat;
padding-left:25px;
font-size:12px;
display:inline-block;
margin-top:6px;
font-weight:bold;
color:#377ad9;
}

.sheet .investor-contact{
float:right;
width:225px;
font-size:14px;
}

.investor-contact .bain-ventures{
background:url(http://static.stamped.com/assets/img/vc-bain.png) left top no-repeat;
width:224px;
height:28px;
display:block;
margin-bottom:10px;
}

.investor-contact .google-ventures{
background:url(http://static.stamped.com/assets/img/vc-google.png) left top no-repeat;
width:143px;
height:52px;
display:block;
margin-bottom:90px;
}

.investor-contact .line{
display:block;
margin-bottom:3px;
}

.investor-contact .follow-us{
background:url(http://static.stamped.com/assets/img/follow-us-on-twitter.png) left top no-repeat;
width:223px;
height:40px;
display:block;
}

/* mobile entity */
#mobile-entity .wrap{
width:620px;
clear:both;
overflow:hidden;
}

#mobile-entity .brand{
background:url(http://static.stamped.com/assets/img/sample-user-stamp.png) left top no-repeat;
width:200px;
height:200px;
float:left;
margin:-30px 20px 20px;
}

#mobile-entity .message{
margin-top:42px;
margin-right:10px;
line-height:30px;
font-size:22px;
color:#999;
font-weight:normal;
}

#mobile-entity .message .user{
color:#666;
}

#mobile-entity .card{
clear:both;
margin-top:50px;
width:612px;
}

#mobile-entity .card .inner{
padding:20px 20px 30px;
}

#mobile-entity .card .type{
font-size:22px;
}

#mobile-entity .card .copy{
width:445px;
}

#mobile-entity .card .main{
font-size:28px;
}

#mobile-entity .card .main p{
line-height:34px;
color:#333;
}

#mobile-entity .card .main .photo{
max-width:572px;
overflow:hidden;
}

#mobile-entity .card .main .photo img{
max-width:572px;
}

#mobile-entity .card .credit, #mobile-entity .card .likes{
font-size:24px;
margin-top:50px;
padding-left: 36px;
}

#mobile-entity .card .credit .stamp {
margin-top:2px;
}

#mobile-entity .card .credit .stamp-1 {
margin-left:-34px;
}

#mobile-entity .card .credit .stamp-2 {
margin-left:-24px;
}

#mobile-entity .footer{
text-align:center;
margin:30px auto;
}

#mobile-entity .available{
margin:0 auto 25px;
}

#mobile-entity .signup form{
margin: 0 auto;
}

#mobile-entity .signup p{
font-size:24px;
color:#999;
}

#mobile-entity .more{
font-size:22px;
margin-top:20px;
}

#mobile-entity .card .meta .type{
padding-left:29px;
padding-top: 2px;
margin-top: 0;
}

#mobile-entity .card .meta .film{
background:url(http://static.stamped.com/assets/img/entity-type-film-mobile.png) left center no-repeat;
padding-left: 29px;
}

#mobile-entity .card .meta .food{
background:url(http://static.stamped.com/assets/img/entity-type-food-mobile.png) left center no-repeat;
padding-left: 37px;
}

#mobile-entity .card .meta .book{
background:url(http://static.stamped.com/assets/img/entity-type-book-mobile.png) left center no-repeat;
padding-left: 33px;
}

#mobile-entity .card .meta .music{
background:url(http://static.stamped.com/assets/img/entity-type-music-mobile.png) left center no-repeat;
padding-left: 29px;
}

#mobile-entity .card .meta .other{
background:url(http://static.stamped.com/assets/img/entity-type-other-mobile.png) left center no-repeat;
padding-left: 23px;
}

#mobile-entity .thanks{
margin:80px auto 46px;
height:29px;
}

.mobile-iphone.smalldisplay #home .iphone, .mobile-iphone.talldisplay #home .iphone {
margin-top:-60px;
position:relative;
top:auto;
}

#notifications-page .text-email-notification-settings{
width:391px;
height:34px;
background:url(http://static.stamped.com/assets/img/email_notifications_title.png) left top no-repeat;
margin:30px auto;
}

#notifications-page .personal-status{
color:#bfbfbf;
overflow:hidden;
margin-bottom:20px;
}

#notifications-page .personal-status .user{
float:left;
width:60%;
}

#notifications-page .personal-status .thumb{
float:left;
position:relative;
width:42px;
height:42px;
margin-right:9px;
margin-left:27px;
}

#notifications-page .personal-status .photo{
width:32px;
height:32px;
position:absolute;
left:0;
bottom:0;
z-index:1;
}

#notifications-page .personal-status .stamp{
width:22px;
height:22px;
position:absolute;
right:0;
top:0;
z-index:2;
}

#notifications-page .personal-status .username{
font-size:16px;
font-weight:bold;
display:block;
margin-top:9px;
}

#notifications-page .personal-status .real-name{
font-size:14px;
display:block;
font-weight:normal;
}

#notifications-page .personal-status .toggle-all{
color:#bfbfbf;
float:right;
margin:22px 23px 0 0;
}

#notifications-page .settings{
margin:0 0 25px;
padding:0;
background-color:#fdfdfd;
border:1px solid #f7f7f7;
-webkit-border-radius:7px;
-webkit-box-shadow:inset 0 2px 3px rgba(0,0,0,0.1);
overflow:hidden;
}

#notifications-page .settings li{
overflow:hidden;
list-style-type:none;
margin:0;
border-bottom:1px solid #e3e3e3;
padding:15px 20px;
}

#notifications-page .settings li .item{
float:left;
width:60%;
}

#notifications-page .settings .thumb{
float:left;
margin-right:15px;
width:42px;
height:44px;
}

#notifications-page .settings li h2{
color:#595959;
font-size:16px;
margin:6px 0 0;
}

#notifications-page .settings li .description{
color:#999;
font-size:14px;
line-height:18px;
}

#notifications-page .slider{
width:85px;
height:40px;
float:right;
margin-top:7px;
cursor:pointer;
position:relative;
overflow:hidden;
padding-left:1px;
}

#notifications-page .slider.on .knob{
left:49px;
}

#notifications-page .slider.on .background{
background-position:-17px top;
}

#notifications-page .slider .knob{
background:url(http://static.stamped.com/assets/img/switch_handle.png) left top no-repeat;
width:40px;
height:40px;
position:absolute;
left:-2px;
top:-4px;
-webkit-user-select:none;
z-index:3;
}

#notifications-page .slider .mask{
background:url(http://static.stamped.com/assets/img/switch_mask.png) left top no-repeat;
overflow:hidden;
position:absolute;
left:0;
top:0;
z-index:2;
width:88px;
height:32px;
}

#notifications-page .slider .background{
background:url(http://static.stamped.com/assets/img/switch_back.png) -66px top no-repeat;
position:absolute;
left:0;
top:0;
z-index:1;
width:164px;
height:32px;
}

#notifications-page .followers .thumb{
background:url(http://static.stamped.com/assets/img/icons_follow.png) left top no-repeat;
}

#notifications-page .credit .thumb{
background:url(http://static.stamped.com/assets/img/icons_credit.png) left top no-repeat;
width:44px;
}

#notifications-page .mentions .thumb{
background:url(http://static.stamped.com/assets/img/icons_mention.png) left top no-repeat;
}

#notifications-page .comments .thumb{
background:url(http://static.stamped.com/assets/img/icons_comment.png) left top no-repeat;
}

#notifications-page .replies .thumb{
background:url(http://static.stamped.com/assets/img/icons_comment.png) left top no-repeat;
}

#notifications-page .likes .thumb{
background:url(http://static.stamped.com/assets/img/icons_like.png) left top no-repeat;
}

#notifications-page .todos .thumb{
background:url(http://static.stamped.com/assets/img/icons_todo.png) left top no-repeat;
}

/* MISC */
.available{
background:url(http://static.stamped.com/assets/img/app-store-available.png) left top no-repeat;
width:161px;
height:49px;
}

.more{
font-size:12px;
color:#999;
}

.more a{
color:#7a9ccc;
margin-left:15px;
font-weight:bold;
display:inline-block;
}

.italics { 
font-style: italic;
}

.shadow{
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
background:#000;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"];
filter: alpha(opacity=65);
background:rgba(0,0,0,0.65);
z-index:100;
display:none;
}

.lightbox{
width:854px;
height:482px;
position:fixed;
top:50%;
left:50%;
margin-left:-427px;
margin-top:-241px;
background:#000;
z-index:101;
display:none;
}

.close{
background:url(http://static.stamped.com/assets/img/public-home/close-sprite.png) left top no-repeat;
width:66px;
height:65px;
position:absolute;
left:-33px;
top:-33px;
}

.close:hover{
background-position:left bottom;
}

.stutter-bar{
position:fixed;
top:0;
display:none;
text-align:center;
padding:15px 0;
width:100%;
z-index:5000;
background-color:#fff;
-webkit-box-shadow:0 0 10px rgba(0,0,0,0.35);
}

.stutter-bar .success{
font-size:16px;
font-weight:bold;
background:url(http://static.stamped.com/assets/img/notifications_check.png) left 1px no-repeat;
padding-left:23px;
}
