            /*.bqstart {
                 float: left;
                 height: 45px;
                 margin-top: -20px;
                 padding-top: 45px;
                 margin-bottom: -50px;
                 font-size: 700%;
                 color: #FF0000;
            }
            
            .bqend {
                float: right;
                height: 25px;
                margin-top: 0px;
                padding-top: 45px;
                font-size: 700%;
                color: #FF0000;
            }*/

/*@font-face {
    font-family: "StampedEntityFallbackFont";
    src: local("☺"),
         url(/assets/fonts/TitlingGothicFBComp-Light.otf) format("opentype");
}

@font-face {
    font-family: "StampedScreenNameFont";
    src: local("☺"),
         url(/assets/fonts/TitlingGothicFBComp-Reg.otf) format("opentype");
}*/

/*@import "http://pls.webtype.com/v.css?ct=10157&r=2592&p=1948&h=dQ9Z7h0SmDXhdQOSL1LjdQ%3d%3d";

@font-face {
    font-family: "StampedEntityFont";
    font-style:  normal;
    font-weight: normal;
    
    src: local("☺"), 
         url("http://wac.1ac1.edgecastcdn.net/001AC1/webtype/ff/3/ac420a8b-8858-40c1-b708-3b2674e85e29") format("woff"), 
         url(/assets/fonts/TitlingGothicFBComp-Light.otf) format("opentype");
}*/

/*
@font-face {
    font-family: "StampedButtonFont";
    src: local("☺"),
         url("/assets/fonts/TitlingGothicFBWide-Stand.otf") format("opentype");
}*/

